[2014-10-15 10:34] mihaijoldis opened #1575 "Required fields issue"
On latest master.
Make billing state field not mandatory.
On the checkout page select a country with no regions like UK.

The state fields still shows the red \* next to it. On first attempt to checkout after that page refreshed.

[2014-10-15 13:30] benhuson opened #1576 "Use Purchase Log Action Links API for core actions"
Following on from issue #1445 and PR #1562, core purchase log links should be migrated to the Purchase Log Action Links API.

[2014-10-15 15:16] mihaijoldis opened #1577 "Grid view variations selector messages"
In Grid view when you look at a product with variations it shows a text message:
"Combination of product variants is not available"
I tested and the same message exists in the single_product theme file too but there its hidden by wpsc-default.css

Inside wpsc-default.php we have:

[code]

i`m not sure exactly how when is that message supposed to "show" but for me i replaced above code with

[code]

[2014-10-15 17:09] #1573 closed, assigned to nobody

[2014-10-15 17:14] #1387 closed, assigned to JustinSainton

[2014-10-15 17:26] #472 closed, assigned to nobody

[2014-10-15 21:52] #556 closed, assigned to nobody

[2014-10-15 21:58] #1264 closed, assigned to JustinSainton

[2014-10-15 22:19] #1565 closed, assigned to JustinSainton

[2014-10-15 22:42] #1517 closed, assigned to JeffPyeBrook

[2014-10-16 04:21] #1560 closed, assigned to JustinSainton

[2014-10-16 08:04] mihaijoldis opened #1578 "Free shipping checkout loop"
Note i got Free shipping for products over 5$ that`s why the 0 shipping price, but upon submitting the checkout i get the red message over and over

https://dl.dropboxusercontent.com/u/16683640/Screenshots/2014-10-16_1044.png

---

Thougt as an "addon" for free shipping.
Instead of showing Total Shipping: 0 which could be confusing we can display a text like: Free shipping!

It might be confusing

[2014-10-16 21:01] techphobe opened #1579 ""Please select one of the available shipping options, then we can process your order.""
There is only one shipping option on my site, £1.00 for every order unless it is over £17.00 which then I have the free shipping box ticked and yet constantly the "Please select one of the available shipping options, then we can process your order." error comes up.

It is only showing in the 3.8.14.3 version, as when I rolled it back to 3.8.12.1 it doesn't do it, now I would just use  3.8.12.1 for

[2014-10-16 21:32] #1528 closed, assigned to benhuson

[2014-10-17 08:23] benhuson opened #1581 "Audit of product Quick Save issues overwriting meta"
This ticket is for a more comprehensive review of Quick edit saving and builds on issues .

Meta values that are overwritten by Quick Edit and need noncing correctly are (please add if you find others):
- [x] personalization options (see issue #1488 and PR #1580)
- [x] external link fields (see PR #1580)
- [x] weight units (see issue #1281)
- [x] Product will not be shipped to customer checkbox
-

[2014-10-17 19:40] #1557 closed, assigned to JeffPyeBrook

[2014-10-18 10:39] mihaijoldis opened #1585 "Fatal error changing order status"
`Fatal error: Call to a member function get_option() on a non-object in D:\wamp\www\wpec-dev\wp-content\plugins\WP-e-Commerce-master\wpsc-admin\includes\purchase-log-list-table-class.php on line 58`
when trying to change purchase status from the sales log page

[2014-10-18 14:50] #1488 closed, assigned to benhuson

[2014-10-20 02:30] #1577 closed, assigned to nobody

[2014-10-20 04:48] #1585 closed, assigned to JustinSainton

[2014-10-20 04:48] #1578 closed, assigned to JeffPyeBrook

[2014-10-20 04:49] #1579 closed, assigned to nobody

[2014-10-23 23:04] #1281 closed, assigned to benhuson

[2014-10-23 23:04] #1581 closed, assigned to benhuson

[2014-10-24 23:11] princezuda opened #1591 "premium support & faq links next to activate plugin"
The premium support link and a link to the documentation are missing when you go to the plugin. I have the code that adds it in and will be submitting a PR request in an hour or so.

[2014-10-25 03:04] #1591 closed, assigned to nobody

[2014-10-25 03:30] #1147 closed, assigned to JustinSainton

[2014-10-25 12:55] JeffPyeBrook opened #1592 "Under some circumstances product thumbnails are continuously regenerated"
A pretty serious performance impact when it happens

[2014-10-27 16:14] benhuson opened #1595 "Allow different countries for shipping/billing."
I'm raising this as it just occurred on a client's site.

Target markets allows specifying which countries the store will ship to, however the case that has just arisen is a customer wants to ship to a USA address but has a billing address in in another country to which shipping is not offered (for practical/pricing/security) reasons.

I havn't had a thorough dig into the code yet but it feels lik

[2014-10-27 16:16] #1551 closed, assigned to JeffPyeBrook

[2014-10-28 12:33] JeffPyeBrook opened #1597 "Customer cookie validation performance and synchronicity"
The check at the start of wp-e-commerce.js for a valid customer cookie is necessary to prevent multiple visitor profiles from being created should the web browser makes multiple parallel requests to the server.  The current implementation of the check for the valid ID is a synchronous request triggered on the document ready event. This has a side effect of preventing the browser from rendering the

[2014-10-28 17:09] #1329 closed, assigned to JeffPyeBrook

[2014-10-29 19:10] edoriv opened #1599 "Catalog export does not exist as stated on product description"
"spiffy catalog import / export tool" We have CSV import but nothing at all to export the catalog.

You could use the Wordpress built in export tool but this only exports XML. The only app I'm aware of that can handle XML in a spread sheet is Excel. Google Sheet and Apple Numbers can't edit XML.

This would also mean you need to import your changes back using the Wordpress import tool not our stor

[2014-10-30 16:11] JustinSainton opened #1600 "Make new theme engine responsive"
Need to be careful here, and get some community input.  We get _constant_ questions about core and Gold Cart both being responsive.  They're not, yet.

Gold Cart is it's own beast (FWIW, the product gallery and Grid View plugins that will be abstracted from Gold Cart _will_ be responsive, at least in the same way that WPeC is)

My initial thoughts:
- Any responsive styling should be very minimal a

[2014-10-31 00:00] benhuson opened #1601 "Purchase Log delete functions - audit"
I've been starting to look at implementing the Purchase Log Action Links API for core WPEC actions and have run nto a query at the first hurdle.

I was going to start with the 'delete' action first.

This is currently implemented via `wpsc_delete_purchlog( $purchlog_id = '' )` which includes too much additional functionality (redirects etc) and would need to be broken down to be more modular in or

[2014-10-31 20:49] JeffPyeBrook opened #1602 "wpsc_custom_meta class does a direct query to the database"
wpsc_custom_meta class does a direct query to the database using a wildcard template.  the query could just as easily be services by using WordPress' meta functions, and likely answered from the WordPress cache

[2014-10-31 21:08] #1602 closed, assigned to nobody

[2014-11-01 12:23] ozbod opened #1605 "United Kingodom not functioning as base country after upgrade to 3.8.14.4"
Hi have just upgraded from V 3.8.9.5 to 3.8.14.4 which all seemed to go well until I checked out the shipping charges and it's only showing the international supplement, we use weight based shipping and our base country was Great Britain prior to the update and I assume this is the problem because it no longer exists.

In settings > store> general I have Untied Kingdom set as the base country but

[2014-11-02 09:05] #1605 closed, assigned to nobody

[2014-11-03 14:15] JeffPyeBrook opened #1607 "Database Upgrades that Create Tables Need Some Error Checking"
When database upgrade routines change the structure of the WordPress database the results of the operation need to be checked to be sure that they are successful.   It appears that it is not uncommon for WordPress user operations to fail due to misconfigured WordPress database user permissions.

When an alter or create table fails the WPeC database upgrade continues on without noting an error and

[2014-11-03 15:08] plugged4 opened #1608 "Feature Request: Add target markets for coupon codes"
I need the ability to add coupon codes that only work in specific countries. This is especially important in regards to free shipping offers.

...Justin Sainton suggested that this would make a lot of sense in the core and that I add it here.

Thanks

[2014-11-03 20:50] JeffPyeBrook opened #1609 "Proposal AJAX and Form Safety, Security and Nonces"
I have been thinking about the recent security issues, and trying to find a way to stop the constant barrage of cart and checkout form SPAM on the sites I support.

Also, I have been a little concerned that the heavy use of WordPress caching plugins (WP Super Cache W3 Total Cache, Web Server Caching (varnish) and CDNs ( Cloudflare, Akamai, Amazon) makes using nonces and other security practices a

[2014-11-05 15:34] benhuson opened #1611 "When updating shipping country/region at checkout, cart items are not refreshed?"
I'm just working on a project where I needed to tweak some product costs based on the shipping country at checkout.

When the shipping country/region is changed, it cascades through a few functions to call the wpsc_cart->wpsc_refresh_cart_items() function which in theory would update my prices at checkout.

However, my prices were not being updated by this.

Looking at wpsc_refresh_cart_items() it

[2014-11-06 14:45] benhuson opened #1613 "Add an admin Welcome/Upgrade screen"
Add a welcome pages that is shown to the user on install and when upgrading - like BuddyPress (see attached)

![buddypress](https://cloud.githubusercontent.com/assets/765285/4937457/7e54f87a-65c3-11e4-88ee-0243835dfb23.png)
.

[2014-11-07 10:22] benhuson opened #1614 "Store snapshot of configuration and upgrade path"
Suggested by @JeffPyeBrook in #1613

Would be useful for debugging issues.

I imagine we would need to store an archive of version numbers, and perhaps a snapshot of settings against each version number before upgrading.

[2014-11-10 02:28] #1547 closed, assigned to JustinSainton

[2014-11-10 06:49] JustinSainton opened #1615 "Implement Fragment Caching"
We already do this, sort of, in some poor man ways.  Let's do it in the rich man's way.

[2014-11-14 16:12] #1576 closed, assigned to benhuson

[2014-11-16 20:32] JeffPyeBrook opened #1618 "Need utility routines to help displaying WP eCommerce brand consistently across platform"
Would be useful in product, and in plugins to make things easy and consistant

[2014-11-17 07:55] ozbod opened #1620 "Weight based shipping inop following upgrade"
Hi,

Wp Ecommerce version 3.8.14.4

I am working on a dev site at the moment which has been upgraded from wpec 3.8.9.5 and wp 3.51.

I was able to do a progressive upgrade using the following wprc versions:

3.8.10
3.8.12
3.8.13.2
3.8.`3.3
3.8.14.1
3.8.14.4

The above were the only old versions I could find.

Anyway now to the problem, we have weight rate shipping set up and enabled and also have

[2014-11-17 14:05] JeffPyeBrook opened #1621 "wpsc_list_categories not escaping special characters"
This code

[code]

will produce this output

[code]

Note the '&amp;amp;'

[2014-11-17 14:21] #1621 closed, assigned to JeffPyeBrook

[2014-11-17 18:25] benhuson opened #1622 "When asking users to signup at checkout there are 2 email fields?"
Just noticed that in my master branch, if I have it set to force users to login or signup at checkout, it shows the username and password fields AND an email field, then the email field below as part of the checkout.

I'm sure the username/password did not used to ask for an email at this point and just use the one supplied as part of the checkout?

Can anyone confirm?

[2014-11-18 12:46] mihaijoldis opened #1623 "3.9 Beta reports"
From my own tests locally.
- [x] Added 1 variation to cart, try to checkout with test gateway:
  `Warning: Illegal string offset 'sales' in D:\wamp\www\wpec-dev\wp-content\plugins\WP-e-Commerce-3.9.0-beta-1\wpsc-includes\purchase-log.class.php on line 165`
  `Warning: Illegal string offset 'earnings' in D:\wamp\www\wpec-dev\wp-content\plugins\WP-e-Commerce-3.9.0-beta-1\wpsc-includes\purchase-log.c

[2014-11-18 20:26] JustinSainton opened #1624 "Coupons API"
Well, we mostly don't have one, and that's dumb.  I'd like to see something with proper caching, setters/getters.  Basically, modeled after `WPSC_Purchase_Log`, but for coupons.

[2014-11-19 00:48] JustinSainton opened #1625 "Update Latvia to use Euro."

[2014-11-19 17:20] pippinsplugins opened #1626 "No close button on the "Buy Now" popup for add-ons"
If you click `Buy Now` on an add-on, it opens a window asking you to authenticate with `WP eCommerce`.

There's no way to back out of this window:
![image](https://cloud.githubusercontent.com/assets/1034109/5110396/03fd0552-6fde-11e4-96b8-24396eaed8ee.png)

[2014-11-19 17:22] pippinsplugins opened #1627 "Authentication with WP eCommerce site fails"
I've tried twice to authenticate with the `WP eCommerce` site to see how the add-on purchase process works, but it seems to be failing silently.

After entering a username and email, the iframe reloads with the homepage of the site:

![screenshot from 2014-11-19 11 20 50](https://cloud.githubusercontent.com/assets/1034109/5110431/424eb580-6fde-11e4-80ff-6e2107a25c5c.png)

It appears that the accou

[2014-11-19 17:25] pippinsplugins opened #1628 "Add-on descriptions need better overflow or excerpt handling"
The add-on descriptions sometimes overflow their containers:
![image](https://cloud.githubusercontent.com/assets/1034109/5110492/b8695ae0-6fde-11e4-855e-542478a45095.png)

[2014-11-19 17:30] pippinsplugins opened #1629 "Remove the font-size on product descriptions"
Product descriptions currently have a `font-size` hard coded to `14px`. This is just silly. The current theme should control the font-size, not the plugin.

[2014-11-19 17:45] pippinsplugins opened #1633 "Make Target labels clickable"
The labels for the Target settings in the External Link section of Product Delivery should be tied to their respective radio buttons so they are clickable:
![image](https://cloud.githubusercontent.com/assets/1034109/5110849/757bd9d0-6fe1-11e4-9826-c645763860c1.png)

[2014-11-19 17:46] #1629 closed, assigned to nobody

[2014-11-19 17:54] #1633 closed, assigned to nobody

[2014-11-19 18:00] pippinsplugins opened #1635 "Coupon codes without an end date cannot be applied"
If you create a coupon that has no end date (so lasts forever), it can't be applied to the cart. The cart always says the coupon is invalid.

Updating the coupon with an enddate does allow it to be applied.

Fails:
![image](https://cloud.githubusercontent.com/assets/1034109/5111087/7836e4e2-6fe3-11e4-9977-36c2980b5035.png)

Works:
![image](https://cloud.githubusercontent.com/assets/1034109/5111096

[2014-11-19 18:21] #1635 closed, assigned to nobody

[2014-11-19 20:32] rediaz20 opened #1637 "Mandatory fields in the checkout page do not show error message"
Hi thanks in advance for your help !

Some fields in the checkout are mandatory but when the field is empty the error message do not appear, there is a global variable or admin configuration to enable or disable these messages ?

[2014-11-19 20:48] leewillis77 opened #1638 "Copying templates to theme does nothing."
On a fresh install of WP and WPeC 3.9.0-beta-1 the following dialog is shown.

![image](https://cloud.githubusercontent.com/assets/1097338/5114045/f7dcb7e6-702c-11e4-8eef-6a76e2919d5a.png)

Clicking on "update your active theme" does nothing.

Expected behaviour:
- Template files are copied to the theme, confirmation dialog is displayed.
- Existing dialog is not repeated.

Actual behaviour:
- Exis

[2014-11-19 20:54] leewillis77 opened #1639 "Store admin email should default to WordPress admin"
Possibly subjective, but for an easy install experience, the store admin address (Settings > Store > Admin) should default to the WordPress admin email address (Settings > General).

It's possible we default this at runtime, I haven't checked / tested. If that's the case, the help text should say so.

[2014-11-19 20:56] leewillis77 opened #1640 "Image alignment of buttons off on tax admin screens"
The - and + in the tax admin screen, in the tax rates and tax bands actions, are misaligned, presumably should be centered.

![image](https://cloud.githubusercontent.com/assets/1097338/5114199/8704898e-702e-11e4-921f-982dda6e8a24.png)

[2014-11-19 20:59] leewillis77 opened #1641 "Shipping should be enabled by default."
We are not EasyDigitalDownloads, this box should be ticked by default:

![image](https://cloud.githubusercontent.com/assets/1097338/5114258/ece067e6-702e-11e4-9897-411a1ab80f7d.png)

[2014-11-19 21:04] leewillis77 opened #1642 "Alignment issues on Flat rate shipping config"
Minor layout niggles on the flat rate shipping config. Currency symbol / region name not aligned with the input box:

![image](https://cloud.githubusercontent.com/assets/1097338/5114322/943c28e0-702f-11e4-81f8-09c3571a127c.png)

[2014-11-19 21:10] leewillis77 opened #1643 "Gateways should be ordered sensibly."
Currently the list goes:
- ChronoPay
- PayPal Express Checkout 2.0
- PayPal Payments Standard 2.0
- PayPal Pro 2.0
- Test Gateway
- Manual Payment Gateway 3.0
- PayPal ExpressCheckout for Digital Goods
- PayPal Express Checkout 3.0
- PayPal Pro 3.0

It should probably be ordered alphabetically. Also - how would a user know whether to use "PayPal Express Checkout 2.0", or "PayPal Express Checkout 3

[2014-11-19 21:14] leewillis77 opened #1644 "Gateway setting button inconsistency"
The Manual Payment gateway has Cancel and Update buttons, styled in a WordPress friendly way.

![image](https://cloud.githubusercontent.com/assets/1097338/5114468/f4dabbde-7030-11e4-9a43-beee64c8a9a1.png)

The Manual Payment Gateway 3.0 has only an Update button (No "Cancel"), and it's unstyled:

![image](https://cloud.githubusercontent.com/assets/1097338/5114489/12ec8670-7031-11e4-94ef-541a749607

[2014-11-19 21:17] leewillis77 opened #1645 "Slash issues in Manual Payment Gateway 3.0 settings."
The Instructions box for Manual Payment Gateway 3.0 has slashing issues, leading "it's" to become "it\\\\\'s" really quickly.

[2014-11-19 21:27] leewillis77 opened #1646 "Error when saving weight rate settings"
So, I managed to set weight rates when I first when through the shipping screens, but trying to modify the weight rate settings, I get a fatal error.

Fatal error: Call to a member function getInternalName() on a non-object in /var/www/wpec39/wp-content/plugins/WP-e-Commerce/wpsc-admin/includes/settings-tabs/shipping.php on line 50
Call Stack
# Time    Memory  Function    Location

1   0.0035  216

[2014-11-19 22:30] #1641 closed, assigned to nobody

[2014-11-19 22:40] #1639 closed, assigned to nobody

[2014-11-19 23:03] JustinSainton opened #1652 "HHVM compatibility"
Look into this.  Might be an interesting exercise in futility if nothing else, but this would be cool.

[2014-11-20 00:55] NikV opened #1657 "What kind of capability checks in admin_menu_widget.php?"
How do we want to tackle the capabilities here? https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-widgets/admin_menu_widget.php#L97

[2014-11-20 06:53] #1646 closed, assigned to nobody

[2014-11-20 07:27] #1645 closed, assigned to nobody

[2014-11-20 07:33] #1644 closed, assigned to nobody

[2014-11-20 08:22] #1642 closed, assigned to nobody

[2014-11-20 08:35] #1628 closed, assigned to nobody

[2014-11-20 08:48] #1625 closed, assigned to nobody

[2014-11-20 08:52] #1657 closed, assigned to nobody

[2014-11-20 18:00] benhuson opened #1658 "Use star dash icon for featured products"
Use a grey one and style yellow for selected/featured.

https://developer.wordpress.org/resource/dashicons/#star-filled

[2014-11-20 21:05] #1627 closed, assigned to nobody

[2014-11-21 09:29] #1643 closed, assigned to nobody

[2014-11-21 12:49] benhuson opened #1661 "Option to NOT duplicate product image when duplicating a product."
Would be handy to disable duplicating of product images if desired.
Not sure wether this would be best done:
1. Prompt when clicking "Duplicate" link.
2. Define a constant to prevent image duplication globally.
3. Admin option to prevent globally.

I'm thinking 1 will be most useful for users to do it on a case-by case basis.
2 Would be handle if you want to complete avoid duplicating product imag

[2014-11-21 15:32] #334 closed, assigned to benhuson

[2014-11-21 16:52] domlat opened #1662 "Cart message displays HTML markup"
Running 3.8.14.4.  with gold cart 2.9.7.5.
When in list view, clicking on a product that has variations produces a cart_message that says "This product has several options to choose from" etc.  To be found in theme-engine-v1/helpers/ajax.php.  The subsequent text with the product page link etc renders as HTML markup, i.e. you can see all the tags.

Hope that's clear!

[2014-11-22 18:48] #1626 closed, assigned to nobody

[2014-11-22 19:26] #1640 closed, assigned to nobody

[2014-11-22 23:09] JustinSainton opened #1664 "Re-imagine product admin UI in light of product types and Backbone.js"
So - WordPress and eCommerce generally is pretty neat. But all the plugins in this space (Woo, WPeC, EDD, Shopp - to a very-slightly-lesser-extent, Exchange) suffer from the same issue - we're putting the square peg of eCommerce into the round hole of publishing.

True enough, we've all been enticed by the commonalities between products and posts, and we've all jumped on the custom post type bandw

[2014-11-22 23:51] #1662 closed, assigned to nobody

[2014-11-23 00:13] #1618 closed, assigned to nobody

[2014-11-24 09:18] benhuson opened #1666 "Should wpsc_is_store_admin() be available on front end?"
@JustinSainton Just thinking, should the wpsc_is_store_admin() function be available throughout core in case we (or 3rd party) want to implement any admin functionality available from the front end, inline or in menu bar?

Also, where we have a class that is available throughout core like Purchase Logs I guess we should use this function on admin methods (like delete, see #1665) - if you try to ca

[2014-11-26 03:12] #1666 closed, assigned to benhuson

[2014-11-26 14:00] JeffPyeBrook opened #1670 "Unbalanced HTML from checkout form utility routine"
wpsc_checkout_form_field() is returning HTML with an extra div tag for the billing region country form

This is what is returned:
[code]

[2014-11-26 18:19] #1622 closed, assigned to benhuson

[2014-11-28 06:37] #1601 closed, assigned to benhuson

[2014-11-28 10:01] benhuson opened #1672 "Improve flexibility of duplicating a product with/without images."
The `wpsc_duplicate_product_attachment` filter (#1671) relates to the attachment files attached to the product (post). It currently doesn't provide control over product image IDs stored in meta such as the featured image and '_wpsc_product_gallery'.

This could be address via new `wpsc_duplicate_product_image` and `wpsc_duplicate_product_featured_image` filters.

Currently, if you duplicate a prod

[2014-11-28 16:33] #1661 closed, assigned to benhuson

[2014-11-29 00:08] JustinSainton opened #1673 "Cleanup on aisle WPSC_Countries/WPSC_Country/WPSC_Data_Map/WPSC_Region"
See bugs: https://scrutinizer-ci.com/g/wp-e-commerce/WP-e-Commerce/issues/master/files/wpsc-includes/wpsc-countries.class.php?selectedLabels%5B0%5D=9&selectedLabels%5B1%5D=14&selectedLabels%5B2%5D=2&selectedSeverities%5B0%5D=10&orderField=issueCount&order=desc

[2014-11-29 04:56] JustinSainton opened #1677 "Improve Import/Export tools"
Data portability is really, really important.  Treating importing and exporting products as a first-class citizen is a big point of pain for us right now.  We have a sort of lame importer, and no exporter.

I'd like to see this change.
## Import

Our current importer should allow for infinite extensibility for plugins to be able to hook into it.

It should allow for images, right in core (The abil

[2014-12-01 18:18] mihaijoldis opened #1679 "UPS over weight shipping flaw"
`when shipping heavy items with ups you typically have to go ltl or freight over 150 lbs.  the shipping module should either return no quotes when over 150, or provide additional options.`

[2014-12-02 14:16] warlockdn opened #1681 "USPS Shipping doesn't work ?"
I have added everything done every setting but the shipping doesn't work for the website I am building. The shipping showed $0 at first but now it doesn't show anything ? What is causing this error ?

Also there shows a error cache_miss what's this ?

https://www.uprtd.com

[2014-12-02 22:19] #1611 closed, assigned to nobody

[2014-12-03 03:56] JustinSainton opened #1683 "Undefined index: in plugins/wp-e-commerce/wpsc-includes/cart.class.php on line 432"
Have had a couple reports of this, but not yet able to replicate.  I'm sure it's from [this commit](https://github.com/wp-e-commerce/WP-e-Commerce/commit/a7783e9dade0f0a11acc7e5d4b31f68e5b5d3965#diff-65d6020fe83220a1a594ac81ec7b1793L430), but I'm hesitant to revert without a clear path to reproduce.

[2014-12-03 05:41] npdemers opened #1684 "Shipping fees not recalculating"
I recently upgraded my site from WP e-commerce 3.8.12.1 to 38.14.4, and I ran into a couple problems. One of those problems went away when I tried 3.9, but the other persists:

I'm using the WP E-Commerce Weight & Destination Shipping Modules to get a shipping fee based on the shipping continent. In 3.8.12.1 on the checkout page, when I clicked on the "Shipping Address same as Billing Address?" ch

[2014-12-03 16:49] mihaijoldis opened #1685 "Product is exempt from taxation admin checkbox"
The checkbox can be checked but no unchecking

[2014-12-03 19:46] JustinSainton opened #1687 "Tooltips API"
Would be great to have a nice tooltips API - to add to settings, metabox titles, metabox input values, etc.   Tooltip could support a simple text popup describing proper usage, have a link to a video which could potentially auto-play in said tooltip.  Some great possibilities for a really nice UX here for users.

@rubensargsyan did some initial work on this awhile back - would love to open up this

[2014-12-03 21:41] JustinSainton opened #1689 "Coupon Feature: Limit coupon to first order."
So in core, we have the ability to limit coupons to be used only once.  We get feature requests, from time to time, to limit coupons to not only one use, but also to only a user's first order.

Related: #1624.

[2014-12-04 21:41] JustinSainton opened #1691 "Consider a UX for alerting user to duplicate SKU entry"
I don't think we should ever enforce this at the database level - but it might be nice to have a little AJAX request that integrates with #1687, pops up a little tooltip, alerting the user that the SKU they've entered is not unique.

[2014-12-05 07:37] JustinSainton opened #1692 "Inconsistent hooks for wpsc_coupon_rule_property_options"
So, this might get interesting for backwards compatibility issues.

The `wpsc_coupon_rule_property_options` has long existed in the following form:

`echo apply_filters( 'wpsc_coupon_rule_property_options', '' );`

It's a weird use of apply_filters(), it would make much more sense to me as do_action(), for what it is.  But oh well.

Well, not exactly oh well.  Because in the [three](https://github

[2014-12-05 13:32] JeffPyeBrook opened #1694 "Fatal error in wp-e-commerce.js trimming a string"
Invalid function call causes fatal error

[2014-12-05 13:47] JeffPyeBrook opened #1696 "Appending to uninitialized buffer causing error"
wpsc_all_products_on_page is appending data to an uninitialized buffer

[2014-12-05 14:03] #1696 closed, assigned to JeffPyeBrook

[2014-12-05 18:09] JustinSainton opened #1697 "Sanity check PayPal Pro and PayPal Express Checkout 3.0"
Not ready for primetime, it seems.

- [x] Need to actually show both 2.0 and 3.0 PayPal Pro, change 3.0 to PayPal Pro Hosted
- [x] Hosted Pro and Express Checkout are currently not functional in either the 1.0 or 2.0 theme engine.  Current recommendation: Pull and refine for 4.0.

[2014-12-06 16:46] JustinSainton opened #1698 "Check responses on AJAX methods for helpful filters."
Related: https://wordpress.org/support/topic/stock-count-not-working-after-updating-to-v39-of-plugin?replies=9#post-6302675

It's sort of lame that our AJAX responses - at least the ones with custom js events - are not all filterable.

[2014-12-06 18:08] JustinSainton opened #1699 "Support Tour"
As developers, we're constantly in danger of forgetting who our users are.  They are...well...users.

I am not my target audience.

As such, this means that we need to think about how we can make life as simple as possible for our users.  For me, this has meant spending an inordinate amount of time in our Live Chat system lately.  The findings have been really helpful.  People want a piece of soft

[2014-12-07 15:55] instinct-ray opened #1700 "Drag and drop products bug ( need to be smoother )"
Tested using WPeC 3.9

Drag and drop is not working on the 2nd product when trying to move it under the 3rd product.

What I meant is the following.

I have
product 1
product 2
product 3

When trying to make the products order into:
product 1
product 3
product 2

I am unable to do so. In order for the drag and drop to function properly, I would need to drag the product 1 to the bottom, then the dr

[2014-12-07 20:30] pavelevap opened #1701 "Payment gateways problem"
Hi,

I was using Test Merchant gateway and switch to Paypal to test it. But it is not possible to switch back to Test gateway? It is not visible on admin page.

So I switched to Manual Gateway and now there are no Shipping details in our Purchase Logs admin page. They are saved in database, but not shown in administration.

Using latest WP a WP eCommerce 3.9 with wpsc-simple-shipping plugin.

[2014-12-08 22:50] #1683 closed, assigned to JustinSainton

[2014-12-08 22:54] #1623 closed, assigned to nobody

[2014-12-09 01:00] #1685 closed, assigned to benhuson

[2014-12-09 13:47] pavelevap opened #1702 "Checkout form - some problems"
Hi,

I wanted to add custom field to billing and shipping details. But I am not able to edit slug of this field, so it is the same slug for shipping and billing part. And when somebody is filling billing, shipping is automatically the same value. Any chance how can I add this field? All custom fields added to checkout form should have editable slug (some fields have also long description and autom

[2014-12-10 01:45] JustinSainton opened #1703 "Stock Availability Option"
So, found an annoying little UX thing in the current theme engine.  I'd like to see it fixed for both theme engines.

If you have variations that are stock controlled, and you don't have Show Stock Availability enabled, you can complete the "Add to Cart" action on a product page, but it never adds the product to the cart.  Nor does it notify you that the selected variation is unavailable.

This is

[2014-12-10 03:02] #1694 closed, assigned to JeffPyeBrook

[2014-12-10 13:39] Chillifish opened #1704 "Mysql errors on product page"
I'm getting the following when viewing a product:

WordPress database error: [You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 5]
SELECT wp_posts.*, wp_term_taxonomy.term_id, wp_term_relationships.term_order FROM wp_posts INNER JOIN wp_term_relationships ON (wp_posts.ID = wp_term_relationships.object_id

[2014-12-11 03:23] JustinSainton opened #1705 "WPSC_Logging in core"
Would love to see this used more significantly throughout core.  Anything that communicates with an API (Shipwire, shipping modules, payment gateways, etc.) should be able to utilize it.  And, when utilized, we should have easy access to it.  Maybe even up top near a screen option tab or something, with an indication of why it's visible, what it's tracking, etc.  Right now, we're using it a bit ha

[2014-12-11 04:33] #1532 closed, assigned to JustinSainton

[2014-12-13 18:17] mihaijoldis opened #1707 "Generating api key error"
Error ;P

[2014-12-13 18:18] #1707 closed, assigned to nobody

[2014-12-14 06:23] summerlightning opened #1708 "click the calculate button to refresh error"
With shipping enabled and fixed rate shipping only in use. The click the calculate button to refresh message is appearing when the shipping country is changed. This message overwrites the fixed rates until you exit and return to checkout where the fixed rate options appear again.

Request that if shipping by country is not in use at all, this message does not appear.

[2014-12-14 06:28] #1708 closed, assigned to nobody

[2014-12-15 04:44] jtsternberg opened #1709 "Add a CONTRIBUTING.md"
CMB2's version for reference.
https://github.com/WebDevStudios/CMB2/blob/master/CONTRIBUTING.md

[2014-12-18 13:03] misulicus opened #1711 "categories target countries."
Just had the issue on a support request.
Checkout was just refreshing no errrors, no nothing.

Store -> Target countries -> USA only.

Product X that i`m trying to buy belongs to category A which has target markets set to USA.

When checking out page just refreshes. No errors no nada.
Selected target markets for category A to NONE and all is fixed.
Saw this thing million times.

[2014-12-18 21:51] 1bigidea opened #1712 "Calculation of taxes logic has a "bug""
In my client site, we force country/state (since all orders are picked up on site). With the upgrade to 3.9.1 - our tax calculation stopped working.

I have tracked it down to lines 150 & 183 in /wpsc-taxes/controllers/taxes_controller.class.php - the logic tests for the presence of a meta field "wpec_taxes_taxable". It does not however check the value of the field.

No amount of jumping up and do

[2014-12-19 05:23] #1712 closed, assigned to JustinSainton

[2014-12-20 15:03] JustinSainton opened #1715 "Investigate adding support for 3.0 gateways to 1.0 theme engine"
No promises here, but would be nice to have.

[2014-12-20 15:06] JustinSainton opened #1716 "Investigate 3.0 payment gateway API caching"
It seems that assets (CSS/JS) are not enqueued when loading from cache. That's weird.

[2014-12-21 06:17] #1023 closed, assigned to nobody

[2014-12-21 23:36] ablears opened #1718 "Google Analytics ecommerce incorrect total"
Let's say I order two quantities of a product at $0.01 each for a total of $0.02.

The Google Analytics ecommerce tracking will send an incorrect total. Here's what it sends:

[code]

It should set the revenue to 0.02. I think this is happening because $total_price is calculated by the following which loops through items to build the total price but does not check for item quantity:

[code]

[2014-12-22 00:37] #1718 closed, assigned to JustinSainton

[2014-12-22 07:33] #1716 closed, assigned to nobody

[2014-12-22 17:13] JeffPyeBrook opened #1719 "Download file sizes for remotely hosted files"
The current implementation will not return file sizes for remotely hosted download files.  A file size can not be determined error message is returned.

For non-local files it should be possible to use an HTTP HEAD request to get the content length from the remote server using the file downlaod URL.

[2014-12-23 18:00] JustinSainton opened #1720 "Empty input shown if only 3.0 gateways are enabled."
http://grab.by/DksA

[2014-12-23 18:48] #1720 closed, assigned to nobody

[2015-01-03 21:31] bekarice opened #1723 "Use global statuses for order bulk actions"
Suggestion: Order statuses are coded into the global $wpsc_purchlog_statuses (which is filterable), but then these aren't used for the bulk actions. Instead, the bulk actions are [hard-coded here](https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-admin/includes/purchase-log-list-table-class.php#L564).

Seems like using the purchase log statuses to create the actions would make this m

[2015-01-03 21:35] JustinSainton commented on #1723
Yes!  Totally agree.  Semi-related: #1525.

[2015-01-03 21:49] bekarice commented on #1723
Gotcha, missed that one :)

[2015-01-03 21:55] JustinSainton commented on #1723
No worries - great to have them both, as they're definitely intertwined.

[2015-01-08 20:15] #1723 closed

[2015-01-09 00:08] JustinSainton commented on #1525
@leewillis77 just confirming - this is closed now, via #1724?

[2015-01-09 00:08] #1525 closed

[2015-01-09 10:28] leewillis77 commented on #1525
Yes, any additional statuses added via the wpsc_set_purchlog_statuses will have view labels generated for them automatically (If there are orders in that status).

This will use a default translation if none is provided in the array. To achieve a custom label, you can provide a 'view_label' entry in the wpsc_purchlog_statuses array - I've not got an example to hand, but will post one later today.

[2015-01-09 15:18] timstl commented on #1525
I am seeing one issue. I have a plugin setup that is modifying the statuses. I had previously modified my 3.8 build to incorporate a fix for this. This plugin runs on wpsc_pre_load. The dropdowns in the sales log are successfully modified. However, the status nav at the top appears not to change.

Here is my modified 3.8 build:
![Modified 3.8 build](https://dl.dropboxusercontent.com/u/58812/modifi

[2015-01-09 15:53] timstl commented on #1525
Removed my previous comment. Misunderstood. Seems to be working for me as well. Thanks for getting this into WP E-Commerce!

[2015-01-11 02:50] instinct-ray opened #1727 "Individual product page does not work in Customizr theme"
Per discussion with Edward, we found the following

1) Customizr theme is pretty well known in the theme realm. It has 829,910 downloads when I am writing this issue.
2) Customizr theme passes theme check plugin 100%
3) our individual product page does not work with customizer theme.
4) tried woo, and their plugin actually works with customizr theme.

Please see  the following difference between w

[2015-01-12 16:03] jdinsmore opened #1728 "Sales Log Totals Incorrect"
In WP-Admin the "Sales Log" page (i.e. Store Sales in LHN) displays a Total count of Items and dollar amounts, both in the top right and bottom right corners (e.g. 4 items - Total (excluding Incomplete and Declined) $100.00)

In our example we have the following 4 sales:
ID/Amount/Status
48/$584.98/Job Dispatched
47/$186.94/Job Dispatched
46/$38.48/Job Dispatched
45$47.79/Closed Order

The Compute

[2015-01-12 16:46] misulicus commented on #1728
From what i can tell the Amount is correct except its not counting Closed Order one.
It should show 858.19 which is the total of your sales since you have no incomplete/declined ones

[2015-01-12 17:03] jdinsmore commented on #1728
I agree that the calculation for Total amount doesn't appear to be including the amount of the closed order, hence the Amount is incorrect.

[2015-01-12 17:13] misulicus commented on #1728
This should be the fault https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-admin/includes/purchase-log-list-table-class.php#L183

[2015-01-13 15:56] misulicus commented on #163
Just had another issue, same checkbox fixes file uploads

[2015-01-14 00:39] benhuson opened #1729 "Curse of the 'Quick Edit' strikes again! (overwriting variation SKUs and sale prices)"
In Quick Edit, it's supposed to only overwrite variation values if the relevent 'Update Variants' checkbox is checked.

This is working for price and other fields, but variation SKUs and sale prices are being overwritten when the checkboxes are not ticked.

[2015-01-14 10:23] misulicus opened #1730 "Force SSL on checkout affects admin."
Tested on master.
Enable force ssl on checkout settings and then try to open Pages menu. It will fail to load if you don`t have SSL installed.

[2015-01-14 10:30] misulicus commented on #1730
i think the problem seems to be inside function wpsc_force_ssl()

[2015-01-14 19:41] JustinSainton commented on #1652
See https://github.com/wpengine/hgv

[2015-01-14 21:55] JustinSainton commented on #1730
Works fine for me.

[2015-01-15 07:36] misulicus commented on #1730
Make sure you test on a store with no ssl. I double checked when that option is enabled the pages menu directs to https

[2015-01-15 09:09] #1729 closed

[2015-01-15 09:28] benhuson commented on #1624
I'm working on the development of the Coupon API here:
https://github.com/benhuson/WP-e-Commerce/tree/coupon-api

Here's the initial work on the WPSC_Coupon class:
https://github.com/benhuson/WP-e-Commerce/blob/coupon-api/wpsc-includes/coupon.class.php

Currently I'm just focussing on the main methods for Coupons, excluding the logic functions for the moment - I'm thinking that the logic may work

[2015-01-15 20:48] JeffPyeBrook opened #1733 "Sales Weight Calculation is Incorrect for all units other than pounds"
Sales weight being calculated is incorrect for all product weight units other than pounds.  It seems that the product weight is always being stored as pounds, even if ounces is selected in the user interface.

When the cart line item weight is calculated the stored value is converted to from the selected weight into pounds.

An example:

Set product weight to 3 ounces, 0.2 is stored in the product

[2015-01-15 21:07] leewillis77 commented on #1733
wpsc_cart_weight_total() always returns weights in pounds and always has done. I don't think that's a bug. If you want to compare to a weight in your shipping config in a different unit you can use wpsc_convert_weight() to convert.

I do a lot of stuff with weight based shipping and have never had any problems - am I missing something in what you're doing?

[2015-01-15 21:12] JeffPyeBrook commented on #1733
wpsc_purchlogs_get_weight uses wpsc_convert_weight to turn the weight stored in product meta into pounds, or whatever out unit is requested.

problem is wpsc_purchlogs_get_weight uses the number stored in product meta in combination with the unit stored in product meta to create the result. the number stored in product meta is always in pounds, not in the unit stored in product meta.

[code]

shou

[2015-01-15 21:16] JeffPyeBrook commented on #1733
btw, the workaround that i gave the customer was to convert their product weights from ounces to pounds.  that fixes the problem for the store. and is a good general workaround.

fortunately it is a new store, so only a handful of products.

another store with the same problem has 800 products, not going to manually edit all of those :)

[2015-01-15 21:21] leewillis77 commented on #1733
When's the problem showing for you - at checkout in the shipping calculation? Are you using a custom shipping module?

[2015-01-15 23:24] JeffPyeBrook commented on #1733
A couple of customers noticed it when using my stamps.com shipping plugin.  There is a display prior to printing the postage that shows the weight of the cart, and the printed label with postage also shows the weight. The weight is what comes directly from wpsc_purchlogs_get_weight, is incorrect.

[2015-01-16 00:36] JustinSainton commented on #1624
@benhuson you are the bomb dot com.

[2015-01-16 09:31] misulicus opened #1734 "multiple currencies display issue"
Made a product with

[2015-01-16 09:34] misulicus commented on #1734
I think something like:
[code]
should be best since RO is confusing and RON is the actual currency code

[2015-01-16 10:20] benhuson commented on #1624
:) I'll be updating that branch, dog-fooding the class in core in due course once I've rebased.

I'll probably submit a PR once that's done with the Class in it's current form so it does;t become too out-of-sync with master branch, then we can continue to extend out the class from their to include other functionality, and think about the best way to handle the conditional checks.

[2015-01-16 10:58] omarabid commented on #1715
@JustinSainton This should be fixed, right?

[2015-01-16 11:00] omarabid commented on #1697
@JustinSainton
Is this ticket still relevant?

[2015-01-16 11:07] omarabid commented on #83
@JustinSainton
Is this planned for 4.0 or 4.1?

[2015-01-16 11:11] omarabid commented on #603
@JustinSainton

I think only PayPal Standard (and maybe Express) should be in core. The others should be either 1. paid or 2. free in a separate plugin. It might be a better idea to keep the old (v 2.0) gateways until we fully transition to v3.0 and remove that API completely from core.

[2015-01-16 16:36] JustinSainton commented on #83
Currently milestoned for 4.0.

Refunds: #307.

[2015-01-16 16:38] JustinSainton commented on #1715
I'll have @edoriv and @misulicus test to confirm.

[2015-01-16 16:39] JustinSainton commented on #1697
Need to confirm with the support guys on this one as well.

[2015-01-16 22:36] edoriv opened #1735 "Theme Engine 2 Stray Field on checkout if shipping fields are disabled"
When running in TE2

Go to admin checkout forms and disable the shipping fields leaving only the billing fields visible.

Now go to the checkout page there will be a stray unlabeled field at the end of the checkout form

[2015-01-16 22:41] edoriv commented on #1697
TE2 TESTS

Paypal Pro 3
Takes a bit long to load up the forms same when clicking purchase really think there needs to be a wait indicator there so people don't wind up refreshing or hitting pay again

IPN did not work when paying using PayPal (IPN is enabled)
IPN does work when paying by credit card
(additionally IPN did work when trying the PayPal 2 version)

Paypal Express worked and correctly s

[2015-01-16 23:21] misulicus commented on #1697
Just tried to test PRO hosted.
Clicked checkout, got a weird looking page where i can select to pay with account or by card. picked card and entered paypal test card and i get

[code]

[2015-01-19 21:41] ablears opened #1736 "Google Analytics ecommerce tracking + Yoast's plugin is broken"
Not sure if you can do anything about this. Thanks to [this commit] (https://github.com/Yoast/google-analytics-for-wordpress/commit/bcd70a62e1670516246244d67ef7f3dc505342e3) Yoast's Google Analytics for Wordpress now uses '__gaTracker' not 'ga'.

That means ecommerce transactions will error with 'Uncaught ReferenceError: ga is not defined'

[2015-01-19 22:33] misulicus commented on #1697
Express checkout 3.0 fails when using a coupon in my tests.
I always get this:
The totals of the cart item amounts do not match order amounts

[2015-01-19 22:38] misulicus commented on #1697
Isssue with pro gateway and coupon:
https://dl.dropboxusercontent.com/u/16683640/Screenshots/2015-01-20_0035.png

Paypal shows:
https://dl.dropboxusercontent.com/u/16683640/Screenshots/2015-01-20_0037.png

[2015-01-20 12:57] omarabid commented on #1697
@misulicus Regarding https://github.com/wp-e-commerce/WP-e-Commerce/issues/1697#issuecomment-70338750 , it's a PayPal Cookies issue and the only way to fix it is to clear the PayPal related cookies.

@edoriv Are you testing on a local site, or a remote site?

[2015-01-20 13:11] omarabid opened #1737 "Coupon Field doesn't show on t.e. 2.0"
Coupon Field doesn't show up when you have Theme Engine 2.0 enabled. It shows fine on 1.0, though.

[2015-01-20 13:13] omarabid opened #1738 "Changing from 2.0 to 1.0 breaks URLs"
I changed from t.e. 2.0 to t.e. 1.0 by changing the permalink structure. If I try to update or checkout on the checkout form, it seems to be still using the old permalink structure which makes the checkout impossible.

New Checkout Path: ?page_id=5

Error message you get when you try to checkout or update the cart:

[code]

[2015-01-20 16:07] edoriv commented on #1697
@omar the site is online it's our test site http://test.wpecommerce.org

[2015-01-20 21:44] JustinSainton commented on #1444
This commit seems to have broken some search layouts for different themes.

[2015-01-21 08:08] benhuson opened #1739 "Single use coupon always remains used."
Set a coupon to "Deactivate coupon after it has been used.".

After making a purchase with a single use coupon the coupon is deactivated as expected.

However, if you reactivate the coupon or change it's name, it stays flagged as used so it is impossible to re-use it by editing it.

I suggest that a single use coupon should be reset under any of the following conditions:

- If the coupon is reacti

[2015-01-21 09:29] benhuson commented on #1624
Updated https://github.com/benhuson/WP-e-Commerce/tree/coupon-api use the WPSC_Coupon class through core.

Just going to do some more testing before submitting a PR.

[2015-01-21 18:52] 1bigidea commented on #1739
My two-cents - it is bad accounting practice to “re-enable” a used single-use coupon. Instead, one should be able to duplicate a used single-use coupon creating a new enabled coupon. If a coupon can be re-enabled or renamed, there is a loss of audit trail.

-- 
Tom Ransom
Sent with Airmail

[2015-01-21 19:45] instinct commented on #1739
Good work @benhuson @1bigidea :)

[2015-01-22 09:09] benhuson commented on #1115
Also another use case...

We current only have the option for single used coupons, not n use coupons, so if you wanted to create a coupon that could only be used 3 times, you would have to create 3 single use codes.

This would better be addressed by allowing admin to specific how many times a coupon can be used - a separate issue?

[2015-01-22 09:11] benhuson commented on #1739
@1bigidea I agree with you from an audit trail point of, but at the moment you can change the coupon code, edit parameters and delete the coupon after it has been used which would also mess up that audit trail, so the option is there to mess up that audit trail if you do any of those things.

So I guess the discussion is how should this work?
Should we allow people to mess up that audit trail if t

[2015-01-22 09:12] benhuson commented on #1624
Right, submitting a PR for review and testing...

[2015-01-22 19:15] ace-dent commented on #1739
Look forward to seeing the outcome, re. audit best practise and coupons.
I had similar concerns for Sales Logs...
https://github.com/wp-e-commerce/WP-e-Commerce/pull/183

[2015-01-26 14:42] benhuson opened #1743 "Variation product displays sale price (no old price) when out of stock."
If I have a product with variations where each variation has a full price of £10 and a sale price of $5, and they are stock managed with stock available, the price shows correctly as £5 (old price £10).

However, if I set the stock for all the variations to 0, the product only shows price £5 - no old price.

This is incorrect, as although you can't purchase the product because it's all out of stoc

[2015-01-26 15:08] benhuson commented on #1743
A bit of investigating...

The wpsc_the_product_price_display() function uses the wpsc_product_variation_price_from() function to get the lowest variation price. The way it is used here returns the lowest price variation, even if it is currently out of stock.

I think that is correct expected behaviour. I would expect if variations had different prices so still see the price as "from {$lowest_pric

[2015-01-26 15:28] 1bigidea commented on #1743
I think we need to take some other factors into consideration here. There are bait-and-switch laws in the United States. 
If the store is not taking orders for the out-of-stock variation, or will not be able to re-stock, then offering a price that cannot be fulfilled could be considered bait-and-switch.

http://consumerist.com/2007/04/11/what-is-the-bait-and-switch-and-when-is-it-illegal/

If we a

[2015-01-26 17:22] JustinSainton commented on #1736
To clarify, it seems this would only fail when using universal analytics, is that right?

I wonder if something like this, [added here](https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/google-analytics.class.php#L92), would do the trick?

`var ga = typeof ga === 'undefined' && typeof __gaTracker !== 'undefined' ? __gaTracker : ga;`

[2015-01-26 20:41] benhuson commented on #1743
@1bigidea Thanks for the info on "bait-and-switch". I was sort of aware of this in the context of advertising but hadn't really considered this in the context of just products on a store where some were out of stock.

I guess it would make sense to cover that scenario by default and perhaps provide a filter to take into account all variations instead of just stocked ones if desired for any reason

[2015-01-26 20:48] 1bigidea commented on #1743
It makes a strange kind of sense. Showing a single price summary for an n-set of variations and possibilities is inherently tricky. As long as we are showing the lowest price is for an available item, we should be good. And if we can allow a store owner to use a filter to show the lowest price (in stock or not) then we should be good. (i.e. we can let the site owner shoot themselves in the foot ra

[2015-01-26 21:20] jbeales commented on #1541
+1 for me: Tax should be calculated on the subtotal - discount, as instinct-ray and todd1 say. I've received a complaint about this.

Is this already being looked at for 4.0, or should I try to push it through?

Also, are there other regions of the world where the tax should be calculated on the pre-discount price?

[2015-01-26 21:30] JustinSainton commented on #1541
Sure, definitely worth taking another look at.  This is where we [calculate total prices](https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/cart.class.php#L823) and this is where we [calculate total tax](https://github.com/wp-e-commerce/WP-e-Commerce/blob/1b45c7ba40234b9e34b1c9db673e35ce1b23518d/wpsc-taxes/controllers/taxes_controller.class.php#L90-L102)

You'll see in both

[2015-01-26 21:48] jbeales commented on #1541
Sounds good, thanks for the pointers to the right places in the code.

This change would be a breaking change. Should we have a setting, or at
least a filter, to allow people to keep the old behaviour?

On Mon, Jan 26, 2015 at 4:30 PM, Justin Sainton <notifications@github.com>
wrote:

[2015-01-26 21:49] JustinSainton commented on #1541
Can we elaborate on what exactly would be breaking?

[2015-01-26 23:23] jbeales commented on #1541
The way tax is calculated when there's a coupon present, for tax exclusive pricing, would change from, (pseudo-code):

    $tax = $subtotal * $taxrate;
    $total = ($subtotal - $coupons) + $tax + $shipping;

to:

    $subtotal = $subtotal - $coupons + $shipping;
    $tax = $subtotal * $taxrate;
    $total = $subtotal + $tax;

So anyone who relies on the calculation behaving as it does today will

[2015-01-27 00:27] ablears commented on #1736
That looks like it would work. The other thing I was thinking, to be as flexible as possible, is to provide a free text box as an advanced setting. That way we could set whatever handler we needed.

[2015-01-27 16:47] JustinSainton commented on #1736
@ablears Sure, I could see the value in that.  Though, at the point that we're just passing through a text box, we could basically just set the Tracking Code Present box and allow users to set the code in their header.php.  I have a particularly bad allergic reaction to new settings.

[2015-01-27 23:24] misulicus commented on #1541
Just tested something today.
Tax to country set to 24%, price 50.
If using a coupon that has 100% discount (free checkout) customer still has to pay the tax 12$. Not sure if coupon should apply to tax or not

[2015-01-27 23:46] #1416 closed

[2015-01-28 01:16] JustinSainton commented on #1730
Still haven't been able to replicate this.  Will await a second opinion here.

[2015-01-28 02:34] jbeales commented on #1541
At the moment it's set to not, and I don't think there's a way to change
it. In real life it seems to depend - sometimes the before-discount price
is taxed, (like we currently do), and sometimes the discounted price is
taxed, (like I want to do).

On Tue, Jan 27, 2015 at 6:24 PM, Joldis Mihai Alexandru <
notifications@github.com> wrote:

[2015-01-28 03:15] #1730 closed

[2015-01-28 14:28] instinct-ray opened #1749 "RSS Error: WP HTTP Error: SSL: certificate subject name 'getshopped.org' does not match target host name 'wpecommerce.org'"
WP eCommerce 3.9.1

A lot of people has been reporting this issue. They are seeing this issue in the dashboard: http://dl.getdropbox.com/u/1184399/Jing/2015-01-28_2127.png

Any ideas on how to fix this?

[2015-01-28 18:32] misulicus opened #1750 "checkout region for non international sales"
So lets say on checkout page you pick country/state USA / New York.
The meta is saved.
Now change to a non US country and enter a state in the input field. try to checkout and in the store sales for State you will have New York and not the state that you entered.

https://dl.dropboxusercontent.com/u/16683640/Screenshots/2015-01-28_0035.png

You can see in there the ID 45 which belongs for New York

[2015-01-29 00:38] #1749 closed

[2015-01-29 01:14] JustinSainton commented on #1020
Moving to 4.0 - we have a grunt build process now - trivial to add minification to it, just need to add the SCRIPT_DEBUG check to our enqueue calls.

[2015-01-29 01:36] JustinSainton opened #1752 "Refactor wp-e-commerce.js"
I sort of hate this file.  We've allowed too many shenanigans in here, for far too long.  It's time to modernize it a bit, bring it inline with current coding standards, like much of our admin JS.

Some thoughts:

- [ ] Ensure we have the custom events we need
- [ ] Structure thoughtfully
- [ ] Namespace thoughtfully, return objects, allow for overriding.
- [ ] Kill Gravatar MD5 crap.

[2015-01-29 02:18] instinct commented on #1752
Naturally to the new WordPress JS coding standards (adopted from the jquery standards I believe).

Any takers? It'd certainly secure somebody a place in the WordPress eCommerce hall of fame for life ;)

[2015-01-29 02:21] JustinSainton commented on #1752
Already assigned ;)

[2015-01-29 03:25] instinct commented on #1752
Opps!!!! High five :)

[2015-01-29 15:37] Bloke1 opened #1755 "Choose category in permalink if in multiple categories"
Maybe this could get put into WP-eCommerce. If a product is in category "ABC" and "DEF" the permalink for the category will always be "ABC" because it's doing it in alphabetical order. In my case its "sale" and I don't want all products in the "sale" category to have "sale" as the permalink category.

[2015-01-29 16:23] Bloke1 opened #1756 "Category image missing on product category page"
Looking at the product categories page the thumbnail images are missing. The file path says: .../wordpress/wp-content/plugins/wp-e-commerce/wpsc-core/imagescat_nameofimage.jpg

[2015-01-30 15:11] Bloke1 opened #1757 "Taxes stopped being charged in 3.9.1"
After upgrading to version 3.9.1 the taxes stopped being charged. I have these settings.
1. Product prices are tax exclusive
2. Apply tax when shipping is same as tax rate.

If I have the check box to tax shipping it will charge tax but of course tax the shipping also. If I don't tax the shipping it does not charge any taxes at all.

[2015-01-30 15:12] misulicus commented on #1757
Is there a store URL where we can check ?

[2015-01-30 20:29] benhuson commented on #1541
Looking at the UK rules, this would seem like you would tax the discounted price, not the original price.
https://www.gov.uk/vat-businesses/discounts-and-free-gifts

I'm not sure how these rules vary country-to-country

[2015-01-30 20:31] JustinSainton commented on #1541
I think that's a sane default, @benhuson.

[2015-02-01 13:49] ace-dent commented on #1752
'Kill Gravatar MD5 crap' will fix last comment on #610. Gravatars still in Theme Eng v1?

[2015-02-01 13:53] misulicus commented on #1752
Should be dropped and built into its own Plugin. That way will resolve the ugly looking email field from checkout at the top of the forms and allow it to be recorded from the checkout page settings

[2015-02-02 20:16] Bloke1 commented on #1757
Yes but you can't see anything unless you are logged in. I can't post the URL here because I don't like it showing in search engine results.

[2015-02-02 20:19] Bloke1 commented on #1757
Do this show the URL online. Just testing.

On Fri, Jan 30, 2015 at 10:12 AM, Joldis Mihai Alexandru <
notifications@github.com> wrote:

[2015-02-02 20:22] JustinSainton commented on #1757
HI @Bloke1,

This may be a duplicate of #1712.

Do you want to try applying 1b45c7ba40234b9e34b1c9db673e35ce1b23518d and see if that resolves your issue?

[2015-02-02 21:54] Bloke1 commented on #1757
Would I just replace that file?

[2015-02-02 21:55] JustinSainton commented on #1757
Yep, you could do a full replace with this file --> https://raw.githubusercontent.com/wp-e-commerce/WP-e-Commerce/1b45c7ba40234b9e34b1c9db673e35ce1b23518d/wpsc-taxes/controllers/taxes_controller.class.php

[2015-02-03 18:10] Bloke1 commented on #1757
Thanks that fixed it.

[2015-02-05 03:39] NikV commented on #1709
I would be willing to help write some initial stuff.

[2015-02-05 03:42] JustinSainton commented on #1709
By all means, that would be awesome!

[2015-02-05 03:43] JustinSainton commented on #1709
Prior art:

https://github.com/woothemes/woocommerce/blob/master/CONTRIBUTING.md
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/CONTRIBUTING.md

[2015-02-05 03:45] NikV commented on #1709
Awesome, pushing straight to master too, correct?

[2015-02-05 03:48] JustinSainton commented on #1709
Straight up.

[2015-02-05 03:49] NikV commented on #1709
Awesome, fresh CONTRIBUTING.md coming right up!

[2015-02-05 16:12] tcg89 opened #1758 "Fatal error: WPSC_Countries::get_countries():"
I get the following fatal error message on my e-commerce site at random times during the night.
I have deactivated all plugins and fired them up 1 x 1 to see if there's any incompatibility issues; none found. Everything else works like its suppose to, but when you turn off shipping, that's when the error stops; i have to charge for shipping. I am also using the gold cart plugin on the most recent

[2015-02-05 18:50] JeffPyeBrook commented on #1758
It's my guess that what is happening is that there is a corrupted copy of the serialized object stored in the WordPress cache or a transient.  Any chance you can check to be sure that either of these isn't happening?

[2015-02-05 19:24] tcg89 commented on #1758
Any step by step instruction on how I could do that?

[2015-02-05 21:22] tcg89 commented on #1758
I downloaded transient cleaner plugin and they were about 35 Transients and 0 have expired. It's now down to 5 timed transients.

[2015-02-06 14:36] misulicus commented on #1711
Found a way to replicate.
Store target markets USA.
Use category A with target market USA.
Disable shipping fields on checkout page.
Add a product that belongs to category A to cart as guest. Enter data and select paypal standard for eaxmple.
Page will refresh no errors.

Fix is to edit category A and select NONE for target markets.
This is a "bug" that i`ve seeen soo many times.

[2015-02-06 15:05] misulicus commented on #1711
Ok did some debugging.
I believe using the example above the culprit is located here:
https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-components/theme-engine-v1/helpers/ajax.php#L602
till line 631

`$is_valid` is true right above that code and after it becomes valid so everything else afterwards fails, thus the page reload.

After that main foreach code i looked at the $errormessag

[2015-02-06 17:30] TimSmith opened #1759 "Security issue or false positive on PayPal Standard payment gateway settings"
WordPress 4.1, WP E-commerce 3.9.1 on Apache
PC with Firefox 35.0.1, with Kaspersky AntiVirus 15.0.1.415(b) and Kaspersky Firefox Extension Dangerous Website Blocker plugin 4.5.3.8

In the WP admin, Settings, Payments tab if you click on Settings under PayPal Payments Standard 2.0 then Kaspersky blocks the request. It's message is Dangerous URL blocked;http://domain/wp-admin/admin-ajax.php;http://

[2015-02-06 17:56] JeffPyeBrook commented on #1759
I use Kaspersky and have seen this message from time to time, especially on my development sites.  My vague recollection for the live sites is that setting the administration to be over https eliminated the warning.

[2015-02-06 19:52] omarabid opened #1760 "Start using Autoloading"
@JustinSainton Are there any plans to implement some sort of Autoloading? (would better if it is PSR compliant). I checked EDD and Woo, only Woo does have an in-house autoloader (even though it doesn't cover all the files for woocommerce).

[2015-02-06 20:03] JustinSainton commented on #1760
No intention of that right now.  Benefits don't outweigh the complexities.

[2015-02-06 20:08] JeffPyeBrook opened #1761 "Shipping Methods With Special Characters Break Javascript on Checkout Pages"
A shipping method with a name like *Happy's Bicycle Messenger* will break the checkout page java script and prevent checkout from completing, no errors are shown to the user, just a page refresh on submit.

Just need a little escaping and perhaps a sanitize-title or here and there.

[2015-02-08 00:33] #1337 closed

[2015-02-10 16:24] instinct-ray opened #1764 "Apply tax to shipping is broken"
This is my settings

Turn tax on
Nevada tax is 10%
Apply tax when Billing Region is the same as Tax Rate	(Can be changed to the other options as well)
Apply to Shipping

Product cost $1
Shipping cost is $1

I see the tax is $0.10 ( 10% of shipping ).

[2015-02-10 16:26] instinct-ray commented on #1764
Tested on WPEC 3.9.1

[2015-02-10 16:42] misulicus commented on #1764
seems to be broken when using weight rate but if you use same settings with Flat rate (1$ shipping) the correct 0.20$ tax is visible

[2015-02-10 16:55] misulicus commented on #1764
broken in 3.9.1
Seems fixable in my test using https://github.com/wp-e-commerce/WP-e-Commerce/commit/1b45c7ba40234b9e34b1c9db673e35ce1b23518d

[2015-02-10 19:40] JustinSainton commented on #766
@leewillis77 Would love to see this in 4.1.  Think you'll have bandwidth to shepherd this through completion in the next few months?

[2015-02-11 14:01] rogersmj opened #1765 "Documentation is not accessible"
https://wpecommerce.org/
http://docs.wpecommerce.org/
http://getshopped.org/

These have all been down for days, making the documentation inaccessible. Any word on when the site might be available again?

[2015-02-11 14:09] misulicus commented on #1765
Both docs and wpecommerce.org work just fine here. Try flushing cache

[2015-02-11 14:20] instinct-ray commented on #1765
Second to mihai comment. Wpecommerce.org and docs are working fine.

[2015-02-11 19:34] rogersmj commented on #1765
That's weird, tried on a couple different machines in different locations and couldn't get them to come up. Now they are. Never mind then...closing.

[2015-02-11 19:34] #1765 closed

[2015-02-12 07:14] leewillis77 commented on #766
Do you have a timeline in mind for 4.1? If it's going in it should go in early to get plenty of testing!

I'm embroiled in fun legal things for the next week or two, but after that should be able to massage the final bits. From memory, we have a working email class, just need to make WPeC actually use it ;)

[2015-02-12 07:16] JustinSainton commented on #766
Love fun legal things!  4.0 should be out in the next 4-6 weeks, so sometime after that we'll spin up 4.1 development.  That work for you?

[2015-02-12 11:50] misulicus opened #1766 "user account theming issues"
Ok so i`m testing this on the latest master branch.
Logged in as admin user with multiple purchases made on the store.
When viewing the Your account page i get no info returned.
The nav links is visible but not the purchase history. Same for Your details, Your downloads tabs.

I looked at the wpsc-user_log_functions.php and it looks like this:
[code]
never runs.

And to my surprise i added
`
add_a

[2015-02-12 17:30] TimSmith commented on #1759
That's unfortunately not an option as the client doesn't use SSL. It's more than a warning too as it blocks that section from opening up on the page.

[2015-02-12 20:36] leewillis77 commented on #766
![Yep!](https://camo.githubusercontent.com/0452bddc4b7bdae207c2ac6692f82696206bc1bd/687474703a2f2f692e696d6775722e636f6d2f426f3149632e6a7067)

[2015-02-12 20:42] omarabid opened #1767 "Fatal Error when a Controller page doesn't exist"
If a controller page doesn't exist, it'll throw a Fatal Error.

For example, in checkout process, if you use the path /checkout/doesntexist, it'll throw the following error.

[code]

[2015-02-12 20:45] omarabid commented on #1767
@JustinSainton Looking at the code, it seems to be done on purpose

if ( ! is_callable( array( $this->controller, $method ) ) ) {
	trigger_error( 'Invalid controller method: ' . get_class( $this->controller ) . '::' . $method . '()', E_USER_ERROR );
}

I think a Fatal Error is not appropriate. Maybe redirecting to a 404 page/page not found?

[2015-02-12 21:22] misulicus commented on #1767
While on the 404 thing. Just crossed my mind.
For example we allow the users to create a custom 404 page and we have a template or something that they can edit and that template can show products.
Like if i google for glasses, end up on a product page for a wpec store that the URL is not valid like:
site.com/glasses-white-product

then the 404 page will say like a Sorry the page was not found and

[2015-02-12 21:40] omarabid commented on #1767
@misulicus I think a customisable 404 page is overthinking the issue for the moment. Woo redirects to the theme standard 404 page. The developer/user can always edit/customise his 404 page and even detect which page (store/checkout/other) the user is navigating.

@JustinSainton Should we go the same route? Just redirecting to WordPress 404?

[2015-02-12 21:44] JustinSainton commented on #1767
:+1:

[2015-02-27 20:00] JeffPyeBrook opened #1770 "Undefined property errors filling log on rss request"
error type: [8] Undefined property: WP_Query::$product file: /home/sparkle_sites/sparkle-gear.com/wp-includes/query.php line: 3960
[27-Feb-2015 19:46:05 UTC] Debug Trace:
...
...template-tags.php at line 692 function n/a (0=product)
....rss.php at line 14 function n/a (0=D, d M Y H:i:s +0000)
.....rss.php at line 15 function n/a (0=/home/sparkle_sites/sparkle-gear.com/wp-conte...)
......n/a at lin

[2015-03-02 02:17] instinct-ray opened #1772 "Free Shipping Coupon Bug"
This issue is related to https://wordpress.org/support/topic/free-shipping-total-price-incorrect?replies=4#post-6636363

i am using the latest WP eCommerce 3.9.1.

Steps to reproduce :
Create a coupon for free shipping ( Set "Discount Type" to Free Shipping ).
Add a product and go to checkout page,
user reported that the amount they are seeing in the payment gateway is correct, BUT the display in

[2015-03-02 13:24] bidonme opened #1773 "Personalize Your Product - Can Not Change Default Message "Complete this form to include a personalized message with your purchase.""
Ok, I moved the wpsc-single_product.php to my current theme. Opened the file in Appearance/Editor and modified the file. I changed as per below...

<legend><?php _e( 'Personalize Your Product', 'wpsc' ); ?></legend>
									<p><?php _e( 'Below please enter your full name or initials as per your selection to monogram below!', 'wpsc' ); ?></p>

I saved the file and when I go to the front end and vi

[2015-03-02 13:56] JeffPyeBrook commented on #1773
This request belongs over in the WordPress Support forms, you should repost the message there instead of this developer site.

But the answer is...

Clear the WP-eCommerce theme cache from the store settings page
Clear the WordPress page cache
Clear any other cache like WP-SuperCache, W3TotalCache, etc

Refresh your browser cache, all should be well

[2015-03-02 13:56] #1773 closed

[2015-03-02 14:16] bidonme commented on #1773
Thank You

[2015-03-02 23:28] JeffPyeBrook opened #1774 "Load deprecated test before loading deprecated function is incorrect."
It always returned true

[code]

is not what we want

[2015-03-03 15:46] JeffPyeBrook opened #1776 "WP-eCommerce News Dashboard Widget Causing php error"
[03-Mar-2015 15:45:14 UTC]
error type: [2048] call_user_func_array() expects parameter 1 to be a valid callback, non-static method WP_Feed_Cache::create() should not be called statically file: D:\web-site-dev\pyebrook.com\wp-includes\SimplePie\Registry.php line: 215

[2015-03-03 15:50] JeffPyeBrook commented on #1776
This is a more complete stack trace
[code]

[2015-03-03 16:06] JeffPyeBrook commented on #1776
This is a little function people can drop int a .php file in their mu-plugins directory to work around the issue, or they can stop using the WP-eCommerce dashboard widget. It turns off the feed cache for the news feed.

I wouldn't recommend making this a permanent fix because (1) it is too hokey and (2) the feed cache is there for a reason, disabling it across 50,000 or more sites could have an ad

[2015-03-03 17:40] JeffPyeBrook opened #1777 "Rewind shipping method causing fatal errors when called early in the init process"
Happens fairly frequently in some ajax paths

[2015-03-07 13:25] JeffPyeBrook opened #1780 "Core javascript needs to be adjusted to allow shopper cookie to be initialized in new browsers"
Running a synchronous http transaction in the main javascript thread is now deprecated in Chrome IE and based on somewhat reliable internet conversations Firefox.

Even though we run our very light weight transaction off of a timeout trigger, it is being detected as part of the main thread.

So we need to make an adjustment to stop things like add to cart, update shipping and checkout from breakin

[2015-03-07 14:13] JeffPyeBrook opened #1781 "WP-eCommerce does not use PHP sessions, let's not start them"
PHP Sessions are not used by WPeC, good design decision.

It's probably fair to say that many WPeC sites receive 100,000 hits for each real live person that visits a store, each one of these hits creates sessions, taking time and consuming resources for no benefit.

Let's not create the sessions in WPeC, if a plugin or theme uses them, then their check for initialization would create the session.

[2015-03-08 12:54] JeffPyeBrook opened #1782 "Purchase logs statii are not displayed properly if plugin or theme uses filter"
Update available status with `wpsc_set_purchlog_statuses` and the purchaselog list filters and drop downs are not properly reflecting the filter actions

[2015-03-08 13:02] JeffPyeBrook opened #1783 "Sales log screen does not flow in a useful way on portrait mode displays"
![image](https://cloud.githubusercontent.com/assets/3098792/6545849/babb98ce-c571-11e4-8179-1255671be93e.png)

[2015-03-08 21:47] JeffPyeBrook opened #1784 "Coupons can be added to the cart multiple times by changing the character case"
Create a 10% off coupon with code "test",

Add "test" as a coupon, Add "TEST" as a coupon, now to coupons shown in the cart

[2015-03-09 20:27] leewillis77 commented on #1782
Hi Jeff;

Can you provide some details about what changes you're making in the filter, and what results you're seeing? It's all working as expected for me here with this filter.

[code]

[2015-03-10 11:20] JeffPyeBrook commented on #1782
nothing wrong with the filter, at various places in the admin interface the values modified by the filter are not used/presented, or are in the wrong order.

there are also places in the code where sql has hard coded purchase status values and does not use the values set by the filter.  that means if you create a status like 'drop shipped' that is a transaction, and the sql runs for completed tran

[2015-03-10 16:48] maspegren opened #1785 "Submitting coupon code takes me back to email confirmation page"
Currently when I purchase an item it takes me to a page that asks for an email, and to retype the email. That same page has the coupon code box on it. If I continue I get two more pages to finish out the purchase, both of which also have the coupon code box. If I decide to put in the coupon code on the final page, right before I complete the purchase, it will take me back to the email page, where

[2015-03-11 12:35] JeffPyeBrook opened #1786 "WPeC Customer Cookie Should confirm URL Decode before parsing"
Should not be necessary, but it appears different platforms are pre-deciding in different ways

The check should not harm anything, but may protect against some randomly observed odd behaviors like random cart emptying and empty add to cart requests.

[2015-03-11 13:05] JeffPyeBrook opened #1788 "We need to build some basic support tools into core"
So many support request starts with teaching the person having the issue about WordPress debug and
log files.  It would seem that with some very simple and light weight supprot tools, and some very selective logging it would make testing, debugging and supporting WPeC sites a bit easier for a large number of the issues that we encounter.

We need a few of things.
1) some simple support tools built

[2015-03-11 14:43] JustinSainton commented on #1788
Related: #1035, #1036

[2015-03-11 16:00] fruitfromthefarm commented on #1772
I am experiencing the same issue.

I am using WP ecommerce 4.1.1

Same steps as above create my problem.

I only see the problem when my shipping is of greater cost than the product cost.  I am using a flat rate shipping for each item.

[2015-03-12 02:00] jbeales commented on #1712
So, who do I yell at for this not being released, at least as some sort of 3.9.1.1 urgent bug-fix or something?

This is the kind of thing that causes accounting nightmares for store owners, and causes developers to loose lots of time tracking down a known, and fixed 3 months ago, but not released, bug.

[2015-03-12 02:07] JustinSainton commented on #1712
:hand:

[2015-03-12 02:09] jbeales commented on #1712
I figured it was you ;) Maybe there should be a discussion around frequent bug-fix releases, especially ones that affect accounting.

[2015-03-12 02:20] instinct commented on #1712
Agreed. It's good for community but we need you to help keep an eye on things too :)

Sent from my iPhone

[2015-03-12 02:53] JustinSainton commented on #1712
:+1: to any discussion around bug-fix frequency.

[2015-03-14 02:22] jbeales opened #1789 "Don't try to use array values if they don't exist."
My wp-admin is spitting out a bunch of PHP notices because we try to use various values in the $flatrates[] array in flatrate.php without checking to see if the array elements actually exist.

[2015-03-14 03:07] #1789 closed

[2015-03-14 17:08] jbeales opened #1791 "Don't try to add <option> tags as children of <input>"
On the checkout page the selectors used in `wpsc_update_regions_list_to_match_country()` rely on the HTML attribute `data-wpsc-meta-key="billingregion"` to select the regions list, a `<select>` element. There's also an `<input type="hidden">` that has `data-wpsc-meta-key="billingregion"`. This means that the jQuery object actually has 2 DOM elements in it, an `<input>` and a `<select>`.

If the co

[2015-03-14 17:16] jbeales opened #1792 "`new Option()` doesn't work as expected in IE8"
When we do this in IE8 the option doesn't have it's content properly set, (the value attribute is set fine, but the text users actually see, is not):

    $('select').append( new Option('Display Text', 'value');

A PR is coming with fixes.

[2015-03-14 17:54] jbeales opened #1794 "JS Syntax, and fix selector."
There's a place that I think we're trying to use jQuery to select something with the class `wpsc-visitor-meta`, but the dot is missing. Also, a trailing comma has been removed, (my IDE is yelling at me).

Also, JSHint is telling me about a bunch of more stylistic or performance issues in wp-e-commerce.js, such as duplicate variable declarations, duplicate jQuery selectors, (making jQuery do the se

[2015-03-14 18:19] jbeales opened #1796 "Can we push out bug-fix releases more frequently?"
I commented on #1712 that I wasn't happy it had already been fixed, 3 months ago, and not released to the public. This particular bug stops tax from being calculated, and charged, on stores that don't charge shipping, and maybe on stores that charge flat-rate shipping - which is an accounting and legal nightmare for business owners.

I believe we should push out bug-fix changes quickly. I realize

[2015-03-15 03:18] instinct commented on #1796
I'm very keen for you to help us out with these types of releases.

With a release must come a blog post and a range of other small PR related activities, so if you can help with those too then I'm happy to add you to our trello account and get some in between major release action happening.

d

Sent from my iPhone

[2015-03-15 03:19] instinct commented on #1794
We use jshint on Kiwi.js - it's good. No objections from me. Anybody else?

Sent from my iPhone

[2015-03-15 04:00] JustinSainton commented on #1794
@jbeales We've actually been using [jshint for about 3.5 months](https://github.com/wp-e-commerce/WP-e-Commerce/commit/5aa79f0e3ecadb79ae558fe891df2986705e1b9e) - only on new stuff, and only for committers using that workflow/grunt task.  We need a [CONTRIBUTING.MD](https://github.com/wp-e-commerce/WP-e-Commerce/issues/1709), which would clarify/specify that PRs not using the grunt workflow would

[2015-03-15 04:03] JustinSainton commented on #1796
@jbeales Great thoughts; here are a few of my own:

* 100% on board with more frequent bug/maintenance/security-type releases.  In theory, we'd have a minor release like that every 2-4 weeks, or more frequently if we screw something up on a major release.
* 3.9.2. should have gone out with the tax fix (and a few others) awhile ago.  It hasn't, and we need to fix that.
* We won't ever have x.x.y.z

[2015-03-15 04:42] #1404 closed

[2015-03-15 04:42] #1794 closed

[2015-03-15 04:44] #1791 closed

[2015-03-15 04:44] #1792 closed

[2015-03-15 15:23] JeffPyeBrook opened #1798 "Packing Slip Show Shipping Method , but not the shipping option"
Store operators need to know the option selected when packing orders,

For example, USPS Shipping shows as method, but did the shopper select first class or priority or express?

[2015-03-15 15:54] JeffPyeBrook opened #1799 "Create default value for SKU"
SKU is somewhat prominent within the back end.  In the absence of a administrator set SKU lets default the SKU to the product ID sos that there is a unique reference back to the product purchased.  This should be more useful that displaying "N/A" in all of the the places SKU is referenced.

[2015-03-15 18:30] jbeales commented on #1794
I'll fire up Grunt then and see what it tells me, although a quick glance looks like it just runs JSHint and something for translations. I've also got JSHint turned on in PhpStorm, which is where it's doing most of its yelling.

I'll clean up wp-e-commerce.js, it should be pretty quick & easy.

[2015-03-15 18:49] instinct commented on #1794
Awesome. Then let's all start preparing a blog post and a minor release.

d

Sent from my iPhone

[2015-03-15 19:45] misulicus opened #1800 "Packing slip notices when shipping fields are off"
https://dl.dropboxusercontent.com/u/16683640/Screenshots/2015-03-15_2141.png

after messing arround with the code i found wpsc_display_purchlog_shipping_name to be the fault.
I changed the code to:
[code]

no more notices BUT this still shows up:
https://dl.dropboxusercontent.com/u/16683640/Screenshots/2015-03-15_2144.png

as u can see from the right the billing state during checkout was Nevada. S

[2015-03-16 07:00] benhuson commented on #1799
I don't think this is a good idea.

Product ID and SKU should not be considered te same or interchangeable.

If a business correctly uses SKU codes for all it's products it is probably preferable to easily identify products that do not have a SKU code, rather than showing a numeric identifier if not set.

What if a business did use SKU codes and their product Codes were or 5 characters numeric ref

[2015-03-16 14:09] JeffPyeBrook commented on #1794
@jbeales with the cleanup we also need to look at and integrate #1780 #1786 #1787

[2015-03-16 21:58] JeffPyeBrook opened #1803 "Use of undeclared global to get database results"
Function wpsc_change_currency() uses $wpdb but does not declare it.

fail!

wpsc-admin\ajax-and-init.php

[2015-03-17 13:26] JeffPyeBrook opened #1804 "Gold Cart Throwing Errors Referencing Variable"
[17-Mar-2015 13:24:09 UTC]
error type: [2] in_array() expects parameter 2 to be array, string given file: /home/sparkle_sites/sparkle-gear.com/wp-content/plugins/gold-cart_plugin-2.9.7.8/gold_shopping_cart.php line: 477
[17-Mar-2015 13:24:09 UTC] Debug Trace:
...
...gold_shopping_cart.php at line 477 function n/a (?, 1=529062)
....wpsc-products_page.php at line 91 function n/a (?)
.....page.php at

[2015-03-17 15:00] jbeales commented on #1794
I'll see what I can do. Some of those look like a PITA to resolve, (like a possible race condition setting a cookie).

[2015-03-17 15:05] JeffPyeBrook commented on #1794
@jbeales look at #1802 before you think about the cookie changes, it changes the process to be comaptible with current jvm, and based on testing very much more reliable

[2015-03-17 15:06] JeffPyeBrook commented on #1794
... and also has some diagnostics built in to help the support folks when they run into odd server configurations that might not be handling cookies the way we need them

[2015-03-17 15:38] JeffPyeBrook opened #1805 "Customer Cookie Handling, Visitor Creation Scalability and Performance"
Currently we create a unique customer profile and set a unique customer cookie on any page request when a previously created customer cookie is not present.  When a site is very busy with real people, crawlers, or even a DOS attack this causes many database records to be created and cookie actions that never have any value.

It is not unusual to see several thousands of unused database records be

[2015-03-17 16:56] #1803 closed

[2015-03-19 16:29] jbeales commented on #1796
Sorry for the slow response.

@JustinSainton Those points make sense.

How should we be keeping track of the fixes that will go into the bug-fix releases? Can we tag the issues or pull requests in GitHub?

@instinct I'm often very busy, but let's see if we can make this work. I would like to help help get bug-fixes out to WPeC store owners and maintainers, (including myself). I'll try to keep thes

[2015-03-19 16:30] JustinSainton commented on #1796
Yep, anything going into 3.9.2. should be in the [3.9.2 milestone](https://github.com/wp-e-commerce/WP-e-Commerce/issues?q=is%3Aopen+is%3Aissue+milestone%3A3.9.2).

[2015-03-21 18:23] JustinSainton commented on #1444
Reverting this for 3.9.2.  It is causing more weird, obscure, hard to replicate bugs than it fixes.  If people want to add the `add_filter( 'pre_get_posts', '__return_null', 8 ); ` to a functions.php file or plugin - they can, and should, if it's causing them problems.

Until then, we'll revert and wait for [WP17817](https://core.trac.wordpress.org/ticket/17817) to land, hopefully in 4.3.

[2015-03-21 18:28] #1444 closed

[2015-03-21 18:35] #1711 closed

[2015-03-21 18:36] JustinSainton commented on #1704
Cannot replicate any more, will close for now.  If we get more reports of this with repeatable behavior, we'll see if we can fix it.

[2015-03-21 18:36] #1704 closed

[2015-03-23 09:48] misulicus opened #1806 "Feature: Variations edit search box"
I`m just looking at a store that has 1,118 variations setup for a product. Imagine trying to search for a specific variation in 56 pages. There`s no search. have to go page by page.

[2015-03-24 16:54] harkohli opened #1808 "autoscaling on new instance with all cronjobs disabled"
Issue:
To autoscale the instance with all cronjobs disabled and configured with Load balancer and check load for 1000 users

[2015-03-24 17:07] #1808 closed

[2015-03-26 15:04] JeffPyeBrook opened #1809 "TE2 Automatically generating intermediate image sizes on front-end"
I noticed something while reading through TE2.  When TE2 generates a page it checks to see if the intermediate image size is available, if not it tries to generate the image on the fly.  Could be a good feature for upgrades, but I am a concerned about what happens if a site had plugins installed that work with images.

The TE2 front-end code includes the wp-admin images code.  I have seen this don

[2015-03-27 12:35] #1796 closed

[2015-03-29 16:05] DaveLindberg opened #1811 ""Please select one of the available shipping options, then we can process your order.""
Recently upgraded a new client's site to 3.9.1, running Wordpress 4.1.1.

After upgrading, the Shipping Calculator is not present on the checkout page. It is not being hidden by the theme; it doesn't appear on the current theme nor in Twenty Ten with all plugins disabled and theme cache flushed.

This makes it impossible for users to complete a sale; entering Billing and Shipping address info and

[2015-03-29 16:11] JeffPyeBrook commented on #1811
I believe the shipping calculator display is triggered in the theme file whenever the require postal code flag is set for an available shipping method.

The no method selected error is because there isn't a default  shipping method selected.

As a workaround perhaps you could add a filter to set the default shipping method to the only module that is present.

[2015-03-29 16:18] DaveLindberg commented on #1811
Odd that the only active shipping module -- in this case, Table Rate -- doesn't default to the selected shipping method.

How can I add the filter you're suggesting?

[2015-03-30 13:50] DaveLindberg commented on #1811
I see the 'wpsc_shipping_module_settings_form' filter was added in 3.8.11; the only documentation I've found for filters (http://docs.wpecommerce.org/plugin-filters/) is filed under "Legacy Docs".

I found the following code in cart-template-api.php:
[code]
php isn't my strong suit — I'm unclear on why applying a filter that would accomplish my goal of making the Shipping Calculator visible, or ho

[2015-03-30 23:18] JeffPyeBrook opened #1812 "Google Analytics class should use the current cookie domain"
Probably should respect the COOKIE_DOMAIN wp-config.php / wp-settings.php setting parameter instead of using the WordPress network site home url?

[2015-03-31 16:58] JustinSainton commented on #1811
Hi @DaveLindberg,

Thanks for reporting this.  Are you able to provide a link to the site in question so we can take a look at it?

[2015-03-31 17:18] JustinSainton commented on #1812
Seems to make sense to me.

[2015-03-31 18:37] DaveLindberg commented on #1811
see http://canvasworksfloorcloths.com/

[2015-04-01 05:11] curtismchale opened #1813 "breaking out the variation functions from wpsc_add_to_cart"
Digging through the `wpsc_add_to_cart` functionality I note that it does some work to determine the variation product_id from the submitted form values.

I'd love to see this block of code:

[code]

changed to something like

[code]

with the corresponding function likely placed in the variation.class.php file

[code]

This would allow other plugins to get the variation product_id less possibility

[2015-04-01 05:25] JustinSainton commented on #1813
:+1:

[2015-04-01 18:16] DaveLindberg commented on #1811
It's been 72 hours and the site is still down. Can you please provide me with an update?

[2015-04-01 19:50] JeffPyeBrook commented on #1811
@DaveLindberg i configured a test site using only the table rate shipping method and it worked for me.

![image](https://cloud.githubusercontent.com/assets/3098792/6950090/6bb43308-d886-11e4-9a4b-669284eb8361.png)

 Guessing that means there is something else going on.

I'm East Coast (guessing you are also?) and can give you a couple of minutes to help diagnose the issue tomorrow.  It don't expec

[2015-04-01 20:14] DaveLindberg commented on #1811
Thanks Jeff. I appreciate the offer and will gladly take you up on it.

Yes, I'm on the East Coast. I can do tomorrow afternoon, anytime after 2:00pm. Let me know what works for your schedule.

I'll run a full backup tonight.

Dave

[2015-04-02 16:55] JustinSainton commented on #1804
Will be fixed in upcoming 2.9.8 release.  cc: @misulicus.

[2015-04-02 16:55] #1804 closed

[2015-04-02 19:02] DaveLindberg commented on #1811
Jeff, please let me know when you have a few minutes this afternoon. I'm available at any time.

thx!

[2015-04-02 22:55] curtismchale opened #1815 "pulling all that form and logic out of templates"
As I'm working on a plugin I'd love to have a buy button for products in my custom displays. Unfortunately as I've been looking around it would seem I need to copy the whole damn form out of the theme engine to make sure I accommodate every product type possible.

I'd love to have a single function `wpsc_get_product_form` which you could pass a product_id (or variation_id if you just want to purch

[2015-04-02 23:13] curtismchale commented on #1815
So justin pointed out the Theme Engine V2 which makes this redundant.

Lets get 4.0 out faster.

[2015-04-02 23:13] #1815 closed

[2015-04-03 02:03] instinct commented on #1815
Careful, you'll start to sound like me soon.

But yes... let's get it out there!!! I'm hoping Justin will have it ready this month ;)

d

Sent from my iPhone

[2015-04-03 04:02] curtismchale commented on #1815
What @instinct I thought @JustinSainton was going to have it ready Monday. :)

[2015-04-03 04:03] JustinSainton commented on #1815
Back to your cubicles, both of you. @instinct @curtismchale

[2015-04-03 04:55] curtismchale opened #1817 "undefined index in WPEC Product Categories widget"
[code]

[2015-04-03 05:05] #1817 closed

[2015-04-03 20:22] curtismchale opened #1818 "passing class through wpsc_get_add_to_cart_form_args for submit fields"
Trying to add a submit button for a plugin and when I populate the 'class' param, it shows if I check the `$field` args in `_wpsc_filter_control_submit` then I see the classes being passed but I don't actually see that the field uses the classes.

The proposed change is:

[code]

to

[code]

Otherwise how does someone add a new field and then say target it with an ajax action to capture things?

H

[2015-04-03 20:30] curtismchale opened #1819 "value not really value in TE2 using wpsc_get_add_to_cart_form_args"
Given this code:

[code]

I would expect that the `value` would be the button value for a submit button, but it's not. The 'value' is actually the title for the button.

I'd love to know why the value !== value and change it to so that value === value

[2015-04-03 20:41] curtismchale opened #1820 "add filter to TE2 wpsc_get_customer_account_tabs"
Currently I see no way to add a tab to the customer account.

I'd like to see this added just after the current $tabs array so it would look like...

[code]

This actually maintains backwards compatibly for tabs used in TE1 so a tab would...just work in TE1 and TE2

[2015-04-03 21:10] curtismchale opened #1821 "replacing/adding method in WPSC_Controller_Customer_Account"
Jumping off https://github.com/wp-e-commerce/WP-e-Commerce/issues/1820 once you can filter here and add a link.

How is one supposed to ... actually add content to the page. If I go ahead with that change then I get:

[code]

I don't see anything in router.php, mvc.php, controller.php that would let me tell the view what I should be seeing here.

If I 'hack' core to add the expected method to WPSC

[2015-04-03 21:11] JustinSainton commented on #1819
Interesting.  So yeah, thais is annoying.  It uses `title` for the value, instead of `value`.  It swaps the attributes at the `wpsc_form_submit()` abstraction, not any lower, which is nice.

`wpsc_form_submit()` is only ever invoked in `_wpsc_filter_control_submit()`.  `_wpsc_filter_control_submit()` is only invoked via the `wpsc_control_submit` and `wpsc_action_field_submit` dynamic filters.

Tho

[2015-04-04 00:11] JustinSainton commented on #1820
@curtismchale As much as I like the idea of using the same filters for the tabs, I think there could be quite a bit of unexpected output in TEv2 if we did that.  Plugins that are not compatible with TEv2 would be showing tabs here without necessarily having the matching controllers and views for it.  I'd rather it be opt-in, separate from v1, so that we know anything showing up there is done inten

[2015-04-04 00:23] JustinSainton commented on #1821
Yeah, we need a solid way to register other controllers.  Nothing exists right now, because the `_wpsc_load_controller()` method is directly coupled to the core controllers folder.  We need to decouple that and add a way for plugins to register their own controllers.

[2015-04-04 01:49] #1760 closed

[2015-04-04 02:44] #1757 closed

[2015-04-04 02:45] JustinSainton commented on #1759
Closing this out, as I'm not certain there is anything for us to change here.

[2015-04-04 02:45] #1759 closed

[2015-04-04 05:02] JustinSainton commented on #1821
Alright, so I've gotten to the bottom of all of this.  I'm not 100% happy with the solution, but there are a fair amount of moving parts:

1. We need to allow the router path and class to be conditionally overridden. Commit forthcoming
1.You have to set the view in the included controller class::method.
1. You have to register an additional template path.

I'll put together a gist/sample plugin fo

[2015-04-04 05:03] #1767 closed

[2015-04-04 05:03] #1821 closed

[2015-04-04 05:03] JustinSainton commented on #1820
Closed via e448759

[2015-04-04 05:03] #1820 closed

[2015-04-04 05:20] JustinSainton commented on #1821
@curtismchale For reference: https://github.com/wp-e-commerce/sample-tev2-plugin

[2015-04-04 05:21] JustinSainton commented on #1821
@misulicus ^ Let's abstract what we can from the sample plugin above and add it to [the documentation](http://docs.wpecommerce.org/category/wpec-theme-engine-v2/)

[2015-04-05 01:15] JustinSainton commented on #848
@misulicus You noted the following:

`Fatal error: Call to a member function get_option() on a non-object in D:\wamp\www\wpec-dev\wp-content\plugins\WP-e-Commerce-master\wpsc-admin\includes\purchase-log-list-table-class.php on line 58`

I have not been able to replicate or even find that line of code or error.  I assume we're set there now?

[2015-04-05 07:00] JustinSainton commented on #848
@misulicus Also from your notes: `Checkout shipping is not added `.  Your dropbox link no longer works, but I had no problem with shipping being added at checkout.

[2015-04-05 07:03] JustinSainton commented on #848
@misulicus Again, from your notes, unable to replicate the following:

`Changing order status in admin for an incomplete order (test gateway)`.

If you could re-test these last few issues, that would be super helpful - thanks!

[2015-04-06 09:37] misulicus opened #1823 "TE2 Default styling"
Enabling/disabling those 2 check boxes takes few tries some times for me.
And when finally i got them disabled the main website page shows

`WARNING: D:\wamp\www\wpec-dev\wp-content\plugins\wp-e-commerce\wpsc-components\theme-engine-v2\helpers\css.php:25 - in_array() expects parameter 2 to be array, string given`

[2015-04-06 09:41] misulicus opened #1824 "TE2 Remove cart item"
On the store/cart/ page with 2 items in cart for example i click Remove under one item, page refreshes, URL becomes /store/cart/remove/0/?_wp_nonce=09bcb5f0a1

The product still shows in cart but quantity is 0 and Item total = 0
Have to reopen the cart page to see the cart with just 1 item

[2015-04-06 09:45] misulicus opened #1825 "TE2 Checkout fields notices"
Shipping fields disabled from checkout page.
/store/checkout/shipping-and-billing/ page shows these notices.
[code]

[2015-04-06 09:48] misulicus commented on #1825
Also got these in debug log after advancing to PP page:

[code]

[2015-04-06 10:32] misulicus commented on #1825
After order User account page shows:
https://dl.dropboxusercontent.com/u/16683640/WPeCommerce-Dev/2015-04-06_1252.png

[2015-04-06 14:40] JustinSainton commented on #1824
See: #848, specifically this note: ` Confirm cart clearing and item removal work. Initial tests failed, reviewing the code makes me think we need to redirect and we're not.`

[2015-04-06 14:41] JustinSainton commented on #1825
I'm not seeing that on the user account page. Can you confirm that the CSS is enqueued?

[2015-04-06 18:33] misulicus commented on #1825
i only see the theme style.css and some plugin suff and thats about it

[2015-04-06 18:37] JustinSainton commented on #1825
Right, so it's not styling the output because you're not loading the wpsc-common.css.

Also, in the future, let's figure out a better way to share screenshots.  Maybe drag them directly into Github, so they're hosted here?  All your Dropbox screenshots on #848 are $04ing.

[2015-04-06 19:17] JustinSainton commented on #1825
Found another interesting issue here:

http://cl.ly/image/1Q3j3M3g0U1i

The field it's grabbing is for the last name.  Bizarre, but resolved in the latest commit.

[2015-04-06 19:18] JustinSainton commented on #1825
Note: notices regarding completed transaction do not show on the test gateway.  testing on paypal now.

[2015-04-06 19:25] JustinSainton commented on #1825
@misulicus Also, was not able to see anything logged in my debug log after going to PayPal.  I'll check directly on the referenced lines, but I can't replicate the issue.

[2015-04-06 19:30] JustinSainton commented on #1825
@misulicus If you're still seeing those issues, seems to be two issues:

1) `_wpsc_merchant_v2_get_active_gateways()` seems to be the only potential issue there, but I wonder if you're not running an old version of WPeC, older than master - as Line 96 does not have a foreach loop.  Would need to see why that might be returning something other than an array.

2) Need a stack trace on `WPSC_Countrie

[2015-04-06 19:32] JustinSainton commented on #1824
@misulicus Any tips on how to replicate this?  I just tried and could not.

[2015-04-06 19:34] JustinSainton commented on #1823
I see what's happening here.  You can't disable them at the same time, and you can't disable or enable inline CSS without _also_ doing that with the common CSS.  It's a weird UX, but not a "bug", per se.

[2015-04-06 19:45] #1823 closed

[2015-04-06 19:48] JustinSainton commented on #1823
@misulicus Let me know if this is resolved now, and any potential UX recommendations for further ensuring users don't try to dequeue inline without dequeuing common styles.

[2015-04-06 20:04] JustinSainton commented on #1819
Cool, should be sorted out now.  Handled at the `_wpsc_filter_control_submit()` layer primarily, so as not to adjust a paradigm that is really implemented throughout the rest of the API.

Basically, you can use title and value interchangably on the submit type now.

[2015-04-06 20:05] #1819 closed

[2015-04-06 20:18] #1818 closed

[2015-04-07 06:18] instinct-ray commented on #1416
Sorry for the late response. I think this is fixed as I am seeing the following http://dl.getdropbox.com/u/1184399/Jing/2015-04-07_1303.png

Thanks @benhuson

[2015-04-07 16:54] drewBlueEarth commented on #1541
Hey @JustinSainton  -

Any word on the 4.x release date?
The taxing calculation that @jbeales mentioned back on January 26th, has started to become a big issue for our client and we were hoping there'd be a little more chatter about a potential release date.

Thanks!

[2015-04-07 17:05] jbeales commented on #1541
@drewBlueEarth This is on my to-do list to fix, but I haven't done it yet. I'm hoping I'll get it done before 4.0, or if I don't someone else will. My client has avoided this since January simply by not offering any coupons, but that's not a viable long-term solution.

[2015-04-07 17:08] JustinSainton commented on #1541
@drewBlueEarth Sorry to hear that this is a pain point for you as well.  I'll bump up the priority on the ticket for 4.0 to do everything we can to make sure it gets in.

Ultimately, we need to make sure that if we're changing the way things work, we provide a very clear way for people to revert the behavior.  That's important, which @jbeales has noted.  And second, the ticket needs someone to own

[2015-04-07 17:12] jbeales commented on #1541
I'll own it. My client wants this changed, and if it doesn't happen in 4.0 I'm probably going to have to take advantage of that `wpsc_calculate_total_price` filter or something, and fixing the problem is easier.

For a way to revert the behaviour, is a filter enough, or should it be a setting? Do we have a way of knowing how many people actually like the current setup?

[2015-04-07 17:18] JustinSainton commented on #1541
@jbeales Knowing how many people depend on it in it's current form would be tricky, but because it's something we haven't heard _loads_ of complaints about, it's hard to say.

That said, I think we're all in agreement, this is the way that makes the most sense.

I think a filter is enough.  Let's make sure this is in the beta release and then we can release a blog post on the site clearly communic

[2015-04-07 17:25] jbeales commented on #1541
That's exactly what I was expecting to do.

[2015-04-07 17:28] JustinSainton commented on #1541
@jbeales That's because you're awesome.

[2015-04-07 17:47] JustinSainton commented on #1735
This should be resolved now.

[2015-04-07 17:47] #1735 closed

[2015-04-07 18:20] JustinSainton commented on #848
@misulicus `Copy billing details button does not do anything at all`

Not experiencing that - can you confirm?

[2015-04-07 18:35] drewBlueEarth commented on #1541
@jbeales yeah... that definitely won't work for our client either (not offering coupons / discounts).  Thanks guys, I appreciate the traction on this.

[2015-04-07 19:28] JustinSainton commented on #848
@misulicus Not sure what this means without the screenshot context: `Your Account (default page - Orders) is weird`.

As of 305ab40, a lot of things should be working better than they were, including this.

[2015-04-07 19:36] JustinSainton commented on #848
@misulicus With regards to the issue about setting the storefront home page and getting the notice - I don't get a notice.  I get a 404 not found.  I'm thinking we need to flush permalinks when this setting is updated.  Let me know if you're still getting the notice.

[2015-04-07 20:36] JustinSainton commented on #848
Autocomplete is sort of wonky - I think if we're going to enable JS autocomplete, we need to disable browser autocomplete.  We should check how this works on the included script site, but right now, the UX is weird.

![autocomplete](https://cloud.githubusercontent.com/assets/1168754/7032940/2287eee6-dd2b-11e4-928f-2389e4fe1c99.gif)

[2015-04-07 20:41] jbeales commented on #848
Is an external script being used for autocomplete, or is it home-grown?

Some browsers that support the DataList element are smart enough to combine DataList suggestions with Autocomplete suggestions, but if DataList isn't being used this problem will still exist, (and since Safari doesn't support DataList there will be times when the problem pops up).

[2015-04-07 20:44] JustinSainton commented on #848
@jbeales It's external - https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-components/theme-engine-v2/theming/assets/js/jquery.select-to-autocomplete.js

Not a bad script, but it does not utilize DataList, and if browser support is spotty for it, then that's okay by me.

[2015-04-07 20:48] jbeales commented on #848
Looks like it'll just copy an autocomplete attribute from the select to the generated field. If someone knows where to find the select it'll be faster for you to add it than for me to find the select & do it.

[2015-04-07 20:51] JustinSainton opened #1826 "Consider adding alternate spelling and relevancy scores to country meta"
@JeffPyeBrook added a low-level country meta API for us.  We currently use it to declare country objects as legacy.

However, we could be using it for more - for example, we could use it to add relevancy scores and alternate spellings for each country.  In this way, a Brazilian entering "Brasil" for Brazil would be get properly autocompleted.

Whether or not the database is the proper data store f

[2015-04-07 21:01] JustinSainton commented on #848
Ahhh, crap . It's a chrome bug.

[2015-04-07 21:08] JustinSainton commented on #848
See https://core.trac.wordpress.org/ticket/24364

[2015-04-08 11:59] JeffPyeBrook commented on #1826
So what exactly is the issue to be resolved?

[2015-04-08 13:43] JeffPyeBrook opened #1827 "wpsc_is_checkout always returns false?"
It seems that the wp_query property "is_checkout" is never set?

[2015-04-08 16:53] JustinSainton commented on #1827
Yeah, noted here: https://github.com/wp-e-commerce/WP-e-Commerce/issues/1715#issuecomment-67813377.  The logic in that function basically always failed until 9448cbcb047eed9221f3e76bcd8b088ae70e26b4

[2015-04-08 16:53] #1827 closed

[2015-04-08 18:18] JustinSainton commented on #1826
adding relevancy score and alternate spellings to country meta, to be included in the country dropdown.

See source code at baymard.com/labs/country-selector#documentation.

![country-alternate](https://cloud.githubusercontent.com/assets/1168754/7052051/fe7ed6b6-dde0-11e4-837e-3f03c081be7b.gif)

[2015-04-09 10:49] JeffPyeBrook opened #1829 "Remove sessionid parameter from transaction results URL"
An improvement in security an privacy,

The parameter is unnecessary and unused because we use the last transaction session from the visitor meta.

[2015-04-09 19:10] JustinSainton opened #1830 "Remove usage of extract() from 2.0 theme engine"

[2015-04-09 19:12] JustinSainton opened #1831 "Accessibility audit on 2.0 theme engine"
I'd like a third party to audit the theme engine for accessibility.

We should have not only the most usable checkout process, but the most accessible as well.

[2015-04-10 07:23] JustinSainton opened #1832 "Single Product View 404s when store is set to home page"
Originally reported as part of #848.

This seems particularly troublesome.

As of 9f5b674452fefb223e78b255f4865924b411c897, if you set the home page to show the store under the Pages settings, categories/taxonomies work fine, home page work fine, controller pages work fine.  The only thing that fails is single product pages.

Rewrite rules match identically.  Initially, I thought it was rewrite sh

[2015-04-10 07:25] #1832 closed

[2015-04-10 07:32] JustinSainton commented on #848
@misulicus Regarding https://github.com/WP-e-Commerce/WP-e-Commerce/issues/848#issuecomment-90708463, see #1832.

[2015-04-10 23:23] JustinSainton commented on #848
@misulicus Re: `Edit product variation box notice` - I edited product variations several times on the product edit page, and got no notices.

[2015-04-10 23:27] JustinSainton commented on #848
@misulicus Also, `When a field is set as required it should show the red * next to it. ` - that's already happening, please confirm.

[2015-04-10 23:28] JustinSainton commented on #848
@misulicus Also, re `Empty required field validation message maybe should be red for ease of access `

http://cl.ly/image/3H3p1Q400A2s

[2015-04-10 23:49] JustinSainton commented on #848
6723610 should fix `"Viewing product" is pagination text on customer account orders table page. It doesn't appear to be working as expected.`

[2015-04-11 05:23] JustinSainton opened #1833 "Price Range Widget needs to be optimized"
Should take into account the following:
1. Sales price.  Currently only measures against original price, which may rarely reflect real pricing
1. Post status.  Currently, it doesn't account for any post status.  If you have published products between $1.00 and $20.00 - but then have a trashed or drafted product for $1,000 - it throws it off significantly.
1. Caching.  Running direct SQL queries, e

[2015-04-11 23:56] JustinSainton opened #1834 "Category Drill Down Widget needs work"
Seems like a neat widget, but needs some work:

* product-filter link doesn't work
* When manually typing it - it shows a clear link, which doesn't work
* No title for the widget is shown.

Related: #848

[2015-04-13 05:23] pixelnix commented on #1373
+1, needs to be fixed.

[2015-04-13 05:31] pixelnix opened #1836 "UX enhancement: "combination of variants not available" message is shown too soon"
In a hypothetical store selling t-shirts that has two product variants Size and Color, the user selects a product and chooses from the Size variations.  The user is immediately shown an error message saying the variant they chose is not available; but they haven't even had a chance to select from the other variation list.

The error message comes up too quickly.  Better to do nothing until the use

[2015-04-13 08:53] misulicus commented on #1373
Wasn't this something that was related to the wpec theme files? I recall something with grid view mode

[2015-04-13 22:25] JustinSainton commented on #1834
Finding more issues.  Attempts to work on product tag archive pages, but fails quite badly, in a few ways.  Going to punt inclusion of this widget to a future release.

[2015-04-17 11:46] omarabid commented on #1697
@misulicus @edoriv @JustinSainton

Can we do final tests and close this? (or report bugs here)

[2015-04-19 23:41] JustinSainton commented on #385
@benhuson I wonder if you would be open to building this out for 4.1?

[2015-04-19 23:42] JustinSainton commented on #386
@lukecarbis or @benhuson (maybe both) - would either of you be open to taking lead on this for 4.1?

[2015-04-19 23:42] JustinSainton commented on #387
@jbeales How would you feel about taking lead on this for 4.1?

[2015-04-19 23:43] JustinSainton commented on #388
@curtismchale I wonder if you'd be interested in building this out for the 2.0 theme engine in the 4.1 release cycle?

[2015-04-19 23:46] JustinSainton commented on #307
Assigning to @omarabid for 4.1.  @omarabid, let me know if you think you can tackle this for that cycle.

[2015-04-19 23:47] JustinSainton commented on #83
Assigning to @omarabid - Omar, I think you've already put in some work on this, would love to see it in 4.1.

[2015-04-20 00:22] JustinSainton commented on #1352
They also have a mobile usability report.  We should look into that as well.

[2015-04-20 09:57] omarabid commented on #307
@JustinSainton What's the date range for 4.1?

[2015-04-20 11:16] misulicus commented on #1824
Just tested on latest master and te2
add 2 items to cart. Once on the store/cart/ page you will see 2 items in the cart. Click Remove for one of them.

[2015-04-20 11:22] misulicus commented on #1824
[code]

looking at that file i added this in above function at the end and now the page removes the item correctly and also just "reloads" the store/cart page and not the nonce`d remove url
[code]

[2015-04-20 14:18] curtismchale commented on #388
Sure skippy

[2015-04-20 14:52] JustinSainton commented on #307
@omarabid I'd like to ship 4.1 no later than the end of August.

[2015-04-20 21:45] JustinSainton commented on #387
@leewillis77 you may also want to pitch in on this?

[2015-04-20 21:52] leewillis77 commented on #387
So, as background - I mentioned offhand that I'd done this previously as a (client-commissioned) plugin.I've probably still got the code knocking around somewhere, I just need to a) dig it out and b) check that it's publically releasable (Not covered by NDA etc. etc.). I'm pretty sure it is since I think I offered a discount on the original dev in return for potential to release it as a paid add-o

[2015-04-20 21:55] leewillis77 commented on #387
Screenshot:
https://www.dropbox.com/s/rbvgyljhtkpwfi9/Screenshot%202015-04-20%2022.54.54.png?dl=0

[2015-04-20 23:53] JustinSainton commented on #1824
Hmm...this sort of weirds me out.  Only because Clear Cart works just fine.  And it doesn't redirect.  It feels like we're hiding a deeper problem.  Let me dig a bit.

[2015-04-21 00:13] JustinSainton commented on #1824
@misulicus one of the smells, you'll notice that it refreshes the page (expected), but does not show the message (unexpected)

[2015-04-21 00:19] JustinSainton commented on #1824
ahh, need to set it as a flash message.  Okay.  I'm alright with this.  I think.

[2015-04-21 00:22] #1824 closed

[2015-04-21 08:33] benhuson commented on #386
@JustinSainton I'm not able to dedicate a large amount time at the moment, but if there are any small/minor fixes or enhancements to look at for 4.x you could point me in the direction of those instead - just stuff I can maybe take a look at when I have a few spare moments.

[2015-04-21 14:45] JustinSainton commented on #386
:+1:

[2015-04-21 15:29] JustinSainton commented on #1624
@benhuson For 4.1, how would you feel about touching on the tickets you [mentioned here](https://github.com/wp-e-commerce/WP-e-Commerce/issues/1624#issuecomment-63614338).  An iterative, granular approach might be nice for your schedule over the next few months, especially with you having architected this class in the first place.

Let me know!

[2015-04-21 16:43] JustinSainton opened #1837 "Allow checkout fields to be filtered"
Checkout form fields should be filtered, allowing for programmatic removal or addition, or modification.

[2015-04-21 16:43] JustinSainton commented on #1837
Closed via 94217080e7b28ffc942243b83cd12de2084c854e

[2015-04-21 16:43] #1837 closed

[2015-04-21 19:19] JeffPyeBrook opened #1838 "Purchase log check for status check is not implemented correctly"
Generates PHP errors when function is called

[2015-04-21 19:30] JustinSainton opened #1840 "Introduce WPSC_Checkout_Form_Field"
In 94217080e7b28ffc942243b83cd12de2084c854e, we introduced the ability to filter checkout fields.

I think it would be helpful if we introduced a proper object for handling these fields.

[2015-04-21 19:54] #1838 closed

[2015-04-22 09:24] gusdrummer opened #1841 "images in product description"
Since upgrading to 3.9.3 yesterday, no products are shown in a category on my website if one of the products in this category contains images in its description field.
Removing images from description makes all products re-appear!

[2015-04-22 09:25] misulicus commented on #1841
Can you post a url so we can look at ?

[2015-04-22 09:28] gusdrummer commented on #1841
Broken category: http://www.d2percussion.co.uk/shop/sticks/
Working category: http://www.d2percussion.co.uk/shop/accessories/

[2015-04-22 09:31] misulicus commented on #1841
I just tested and its working fine here.
Can you enable debug in wp-config.php file ?
Most likely theres an error somewhere

[2015-04-22 09:39] gusdrummer commented on #1841
Debug mode enabled.

[2015-04-22 09:40] misulicus commented on #1841
So you say one product from sticks has an image in the description and thats causing the issue ?

[2015-04-22 09:41] gusdrummer commented on #1841
Yes

[2015-04-22 09:41] misulicus commented on #1841
That is weird indeed. Could you post a support topic with the guys at wpecommerce.org and they will investigate

[2015-04-22 12:07] gusdrummer commented on #1841
Ok will do, thanks for your time!

[2015-04-22 15:01] JeffPyeBrook opened #1842 "Taxonomy wpsc_log_type showing up in site maps"
This taxonomy is now showing up in sitemaps generated by any of the popular seo plugins .  Not sure what this taxonomy is used for, but if the post type that it applies to is not available via public query able why should this taxonomy be publicly queryable?

[2015-04-22 15:41] benhuson commented on #1624
@JustinSainton I'll take a look through and see what might be manageable within my current work schedule.

I had started architecting a WPSC_Coupons (plural) class to give a better API for matching/searching and interacting with multiple coupons, so I may take a look at where I got to with that first which should then give a more solid base for some of the additional queries that may be needed to

[2015-04-22 15:42] JustinSainton commented on #1842
Agreed, this should not a be a public taxonomy.  I'll touch base with @pippinsplugins upstream on this. I think it'd be fine to set it, like they do upstream, to the boolean of WP_DEBUG.

[2015-04-22 16:47] JeffPyeBrook commented on #1842
@justin I think this went the wrong way, exposing the post type or taxonomy to the front end is not want we want to do.  Keeping the logs from being accessed by anything on the user facing side, at all times, would seem to be a good idea.  Setting the public to false for both the taxonomy and the post type is what I would recommend.

[2015-04-22 16:51] JeffPyeBrook commented on #1842
.... i think all we need is to have an array( 'public' => false, 'show_ui' = true, 'show_in_nav_menus' => false ) as part of the arguments to the register calls

[2015-04-22 16:54] JustinSainton commented on #1842
I'm happy enough with that, though show_ui should be the WP_DEBUG boolean.

[2015-04-22 16:55] JeffPyeBrook commented on #1842
I don't think WP_DEBUG is right?  Why would we ever want someone who isn't an administrator to have access to a site's log information?

[2015-04-22 17:01] JustinSainton commented on #1842
`show_ui => true` is already going to expose the UI for everyone.  It's logging, we only want the UI exposed when debugging.

[2015-04-22 17:08] JeffPyeBrook commented on #1842
The critical issue is that the other two args are false, that will stop the post type and taxonomy from being requested by a user.

As far as show_ui goes, the way the class is written is that it could always be logging, if you hide the ui from the administrator they would never see the data collected, or be able to clear it, unless they were debugging  If that is ok then WP_DEBUG is what you want

[2015-04-22 17:10] JeffPyeBrook commented on #1842
perhaps checking capabilities for administrator is the best answer?

[2015-04-22 17:14] JustinSainton commented on #1842
I don't think so, necessarily. I know lots of stores have situations where a store admin role exists - nearly admin, but restricted a bit just to store related pages/options.  They wouldn't pass `current_user_can( 'manage_options' )`, but they should still have access to logs.

The point you bring up about the enabling of logging through gateways is apt, though.  I think we have these args filtera

[2015-04-22 17:16] JustinSainton commented on #1624
Awesome, thanks @benhuson!

[2015-04-22 17:18] JeffPyeBrook commented on #1842
How about use
[code]

[2015-04-22 17:20] JeffPyeBrook commented on #1842
Sorry,

you might not of merged that PR

[code]

[2015-04-22 18:20] JustinSainton commented on #1842
Yeah, i don't recall seeing that in a PR :hushed:

I'm not super sure I want that right now, but am open to other thoughts on it.

[2015-04-22 18:32] JustinSainton commented on #1842
Also, show_in_nav_menus inherits public, so explicitly setting is not necessary.

[2015-04-22 18:37] JeffPyeBrook commented on #1842
It is a good way to centrally  check for diagnostics is enabled, and turn on if necessary.  I use it because I don't like to enable WP_DEBUG on a live site that isn't my own, and often the site I am working with may not have shell or ftp access knowledge.

The commit that introduced the code is https://github.com/JeffPyeBrook/WP-e-Commerce/commit/fe7c7cd905dedeb389d6c9b8a1b9b2adf6d107b0

The value

[2015-04-22 18:42] JustinSainton commented on #1842
:+1: Happy for that to stay in a branch or diagnostic plugin, as it does seem to serve it's purpose well there.

Closing this out as of 74f3ee81fbca047c5a18b28c3d4e588961a574dc

[2015-04-22 18:42] #1842 closed

[2015-04-22 18:52] JustinSainton commented on #1842
Hmm, @JeffPyeBrook, finding that public = false, show_ui = true, still does not show the UI.

I wonder, does the site map issue persist if public = true and publicly_queryable = false?

[2015-04-22 18:56] JustinSainton commented on #1842
Sadly, it seems that at least one of the major plugins depends on public, rather than publicly queryable - so this particular issue will actually not be solved by anything proposed or suggested here.

That said, public should be false.  We can add the submenu item manually.

[2015-04-22 20:09] JustinSainton opened #1843 "Setting tax exemption on parent product does not filter through to variations"
If you set a product as tax exempt, but it's variation products are _not_ set as tax exempt, they will not be tax exempt.

I can't think of too many situations where a variation of a product would have a different tax exemption setting than it's parent product.  If you have different tax settings per variation, that seems like something that might need to be considered a totally different product.

[2015-04-23 05:27] JustinSainton opened #1844 "Admin Notices and Spinners in WP 4.2"
https://make.wordpress.org/core/2015/04/23/spinners-and-dismissible-admin-notices-in-4-2/

We have work to do here.

[2015-04-23 11:15] JeffPyeBrook opened #1845 "wpsc_start_the_query is running on every page view and hitting the database"
Looks like wpsc_start_the_query is hooked into template_redirect, so it runs on every user facing page.  Not just the pages where it is necessary.

The job of wpsc_start_the_query is to fill the $wpsc_query global with product query results for product pages and single product pages, and for search pages

wpsc_start_the_query doesn't check to see if it is being run to service a product or products

[2015-04-23 14:12] JeffPyeBrook opened #1846 "Value returned from wpsc_product_post_type filter is overidden by hard coded value"
See the noted line in the function wpsc_start_the_query()
[code]

[2015-04-23 14:23] JeffPyeBrook opened #1847 "wp-ecommerce.org dashboard widget throwing an error"
error type: [2048] call_user_func_array() expects parameter 1 to be a valid callback, non-static method WP_Feed_Cache::create() should not be called statically file: ...\wp-includes\SimplePie\Registry.php line: 215

cause is the feed class is accessing trying to access the call using the legacy method.  fix is to use the feed options filter to set cache to false prior to making the call to get the

[2015-04-23 20:41] benhuson commented on #1624
Ooo, #1737 might be a bit of a blocker ;)

[2015-04-23 20:41] JustinSainton commented on #1624
It's on my list :P

[2015-04-23 20:50] benhuson commented on #1624
I have a framework for a coupon Conditions class that needs some testing (and unit tests too I guess) here: https://github.com/benhuson/WP-e-Commerce/commits/conditions

It's a little old so may need some refreshing.

[2015-04-23 20:52] JustinSainton commented on #1624
:+1:

[2015-04-24 15:28] Bloke1 opened #1851 "Flat rate shipping settings revision request"
The flat rate shipping settings need to be revised. "Continental 48 States" should be changed to "Lower 48 States" and "All 50 States" should be changed to read "Hawaii and Alaska". It would be helpful to have an addition to the target market choices  "Lower 48 states" or "USA excluding Hawaii and Alaska".

This set up is confusing to customers at check out. Also if they choose their state of HI o

[2015-04-24 15:29] JustinSainton commented on #1851
Hi @Bloke1,

Totally agree!  Do you want to submit a PR for this?

[2015-04-24 15:37] Bloke1 commented on #1851
Making any changes like that is beyond my experience level. I will leave that up to someone else. I just came across this issue because I was trying to limit customers to the lower 48 states. I changed the settings to see what would happen and realized this needs to be reworked. For people outside the US it might not be as clear. I am in the US and this is confusing to me and customers.

[2015-04-24 15:38] JustinSainton commented on #1851
Awesome!  Thanks for the report, @Bloke1!

[2015-04-24 18:11] JustinSainton opened #1852 "Change wpsc_add_to_cart() to check $_REQUEST, rather than $_POST"
This allows GET requests, which will be required for an cart URL API.

The imagination is an API, something like `wpsc_get_add_to_cart_url( $args = array() )`.  One could simply pass a `WPSC_Product` object, a product id, or an array of product ids and parameters to the function.  It would return a URL containing either the query args, or a hash, or something.  Haven't fully thought through the im

[2015-04-24 18:14] #1852 closed

[2015-04-24 19:11] JustinSainton opened #1853 "Add "Cart URL" API"
`wpsc_get_add_to_cart_url` should create a custom URL that will redirect a user to a cart, filled with items passed to the URL.

Now, originally, I was thinking about just a query string of the cart items, passed to the add_to_cart handler.  But this can be problematic on some nginx configurations, and many Apache configurations if the query string is greater than 4,000 characters.

What _might_ m

[2015-04-24 20:13] codesman commented on #1776
This does not appear to be a bug that is caused by WP-eCommerce News Dashboard Widget.  It is apparently a core bug as it occurs on the WordPress News widget in the Dashboard in a clean install of WordPress 4.2 and TwentyFifteen.

[2015-04-24 23:15] #1813 closed

[2015-04-24 23:23] curtismchale commented on #1853
So we're looking at something like:

[code]

Then we'd save the hash and product ids that go with it when the user would click the button and match it at the cart and populate the cart.

Probably not useful to keep the store of this hash/product_ids around after added to cart.

Store as a no load option.

[2015-04-24 23:35] JustinSainton commented on #1853
That's pretty much what I'm thinking :+1:

[2015-04-24 23:39] JustinSainton commented on #1853
I would imagine some kind of `WPSC_Cart_URL` class.  Within that class, you'd want to probably implement a UUID generation method, as PHP does not have a native one, but you could borrow a couple methods from [this class](http://php.net/manual/en/function.uniqid.php#94959)

[2015-04-25 21:23] JustinSainton opened #1855 "Store Notice"
This is a simple setting that some carts include to add a top-bar notice to the website.  Was thinking a couple potential improvements on what I've seen.

- [ ] Parse active template stylesheet, creating a swatch of colors to pick from, as default options for a color picker
- [ ] Integrate with Customizer
- [ ] Allow for placement on top or bottom.

[2015-04-28 14:37] JeffPyeBrook opened #1860 "Paypal Pro Throwing Error"
URI is /?wpsc_action=gateway_notification&gateway=wpsc_merchant_paypal_pro

File	/home/content/66/12956066/html/wp-content/plugins/wp-e-commerce/wpsc-merchants/paypal-pro.merchant.php
Line	351
Error	Undefined variable: altered_count

[2015-04-29 03:29] NikV commented on #1709
WIP PR here: https://github.com/wp-e-commerce/WP-e-Commerce/pull/1857

[2015-04-30 11:26] omarabid commented on #1697
Coupon code was fixed here: https://github.com/omarabid/WP-e-Commerce/commit/71e41b0703a762c32c8b040eba584afb7cfafaa4

[2015-04-30 20:13] misulicus opened #1863 "Select2 update"
As per: http://stackoverflow.com/questions/29200171/select2-uncaught-typeerror-cannot-read-property-fn-of-undefined
I got a notice locally and updating the minified file fixed it

[2015-04-30 22:13] misulicus commented on #1863
Related https://github.com/wp-e-commerce/WP-e-Commerce/issues/1263

[2015-05-02 19:29] JustinSainton commented on #194
Need to consider the relationship between an order and the customer who made it.  So much inspiration here to take from https://github.com/easydigitaldownloads/Easy-Digital-Downloads/issues/2548

[2015-05-04 09:46] misulicus opened #1867 "store settings save redirect"
Saving the Shipping and Checkout settings redirects to a url like: /options-general.php?page=wpsc-settings#038;tab=shipping and switches to the General tab instead of sticking to the Shipping tab.
For the Checkout tab its like options-general.php?page=wpsc-settings#038;tab=checkout&#038;checkout_set=0

[2015-05-04 14:54] jorisw opened #1868 "A wp_enqueue_style() is done to a nonexistent file in wpsc-components/theme-engine-v1/templates/"
At wp-e-commerce/wpsc-components/theme-engine-v1/helpers/page.php:383 , the following line:

[code]

... enqueues a style sheet that has no reason to be there afaik, thus generates a 404 here.

For some reason adding the following line to functions.php has no effect:

[code]

[2015-05-04 22:13] #1867 closed

[2015-05-04 22:14] #1863 closed

[2015-05-05 12:48] benhuson commented on #385
not enough time at the moment. Sorry :disappointed:

[2015-05-05 14:53] JustinSainton commented on #385
:person_frowning:

[2015-05-05 20:15] kim07 commented on #1868
:+1:

[2015-05-06 11:00] JeffPyeBrook opened #1871 "Gold Cart Generating a 404 on a background image"
Looks like the relative path to **images/outofstock.png** isn't working because the CSS is coming from a CSS directory

(404) .../wp-content/plugins/gold-cart_plugin-2.9.7.8/css/images/outofstock.png

[code]

I think changing to **background:url(../images/outofstock.png) no-repeat scroll 0 2px transparent;** would fix the issue

[2015-05-06 12:13] misulicus opened #1872 "Wrong category image path"
the image thumbnail on the Product Categories admin page if image is set for a category looks in WPSC_CORE_IMAGES_URL which should be WPSC_CATEGORY_URL

Seems to have broken here: https://github.com/wp-e-commerce/WP-e-Commerce/commit/6b5ca6063182192ede3a4a04d50d362d68856fe6

[2015-05-08 03:52] #1872 closed

[2015-05-15 14:10] benhuson opened #1875 "Image page broken if "Use Hierarchical Product Category URL" is on"
In WordPress, if you upload an image to a post/product you can view an image page at the following style of URL:

`http://example.com/products-page/product-category/product-name/image-name/`

If "Use Hierarchical Product Category URL" is on and the product is in a subcategory, image pages are treated as 404

`http://example.com/products-page/product-category/product-subcategory/product-name/image-

[2015-05-15 14:16] benhuson opened #1876 "Image attached to product does't use image.php template"
Query Monitor reports the expect template as being blank.

My quick hack of a workaround was to add the following into whichever template file the products page is using.

[code]

[2015-05-18 06:39] JustinSainton opened #1877 "Deleting a Purchase Log should delete purchase meta"

[2015-05-20 04:57] galbaras opened #1878 "Cart widget not updated with WP Super Cache"
On a couple of sites, the recent updates to WPEC and WordPress seem to have stopped the AJAX function that updates the shopping cart widget's cart contents, showing a cached version instead (using WP Super Cache in both cases). The checkout page still shows the correct cart contents, but a menu "mini cart" also shows a cached number of items in the cart or nothing, if the page was last cached with

[2015-05-20 15:12] curtismchale opened #1879 "array_map error on main store page"
I've got about 10 products put in my demo store in various categories. The only plugin active is WPEC and we're running latest WordPress.

When I visit the main store page I get:

[code]

The full call stack looks like:

[code]

[2015-05-20 15:16] JustinSainton commented on #1879
@curtismchale Have you saved any categories to filter by in your custom categories selection on the Presentation settings?

[2015-05-20 15:18] curtismchale commented on #1879
nope

[2015-05-20 15:20] JustinSainton commented on #1879
that'd be why :+1:

[2015-05-20 15:21] curtismchale commented on #1879
So it goes away when I save something under the 'custom' settings but really shouldn't we be handling this for users so they know they need to save something?

Some notice on the admin page if they have custom selected but nothing actually saved as the filter option?

[2015-05-20 15:23] curtismchale opened #1880 "Select2 display issue on presentation category filters"
Seems like the Select2 fields don't display correctly on the Presentation settings in FF.

![screen shot 2015-05-20 at 8 21 36 am](https://cloud.githubusercontent.com/assets/74561/7729402/6e9019ac-fec9-11e4-83a6-c58d5ce223b3.png)

[2015-05-20 15:30] JustinSainton commented on #1879
Yeah, that's not quite right either - it should actually be returning an empty array if the setting isn't set.

My best guess is that when it is saved and empty, it sets it to an empty string.  That's what should be fixed, rather than adding a notice.

[2015-05-21 21:39] jbeales commented on #1780
I like the idea of running all XHR through a common JS function that makes sure the customer ID is properly initialized. If we do this we can potentially skip creation of the customer cookie until it's actually being used.

Background: I'm in the process of moving some sites to be hosted at [Lightningbase](http://lightningbase.com/) and their Varnish config is set up, by default, to bypass the cac

[2015-05-22 16:20] TMUND opened #1885 "FedEx shipping module"
Hello wp-e-commerce,

I recently purchased the FedEx plugin for my website and am having an issue finding the "print label" button in my WP dashboard.

When I used to have UPS, if I went to; Dashboard -> Store Sales -> and then clicked on a sold item; at the bottom of the page under "Actions" there used to be a "print shipping label" button which would allow me to print the shipping label directly

[2015-05-23 02:12] TMUND opened #1886 "Admin email"
Not sure if this is the best spot to post this but after trying to send an email today to admin@wpecommerce.org I got a delivery status failure.

"This is an automatically generated Delivery Status Notification. Delivery to the following recipients failed.
admin@wpecommerce.org"

Just wanted to let you know in case others are having the same issue...

[2015-05-24 22:48] JustinSainton opened #1887 "UPS throws an exception without catching it on Line 328"
This happens when carts are too large - in dimensions - for non-freight rates. Need to catch this and make sure it handles freight rates.

[2015-05-26 01:28] jbeales opened #1888 "Deleting variations triggers an "Are You Sure?" warning, but variations are deleted"
When deleting variations by checking the boxes beside them on the Edit Product page, then choosing "Trash" from the Select box at the bottom, a message appears as if the request has failed a nonce check, (see screenshot). However, the variations are still trashed.

The same thing happens when emptying the trash - which can only be done reliably by checking the checkboxes for the variations and cho

[2015-05-26 21:26] ablears opened #1889 "'Sort Product By' order defaulting to 'Descending'"
On WP e-Commerce 3.9.3 and gold cart 2.9.7.7, under Settings -> Store I have 'Sort Product By:' set to 'Drag and Drop' + 'Ascending'.

I go into Products and set the order I want. On the front end the products are in the correct order.

All goes well for a few days, then I find the 'Sort Product By:' order has switched to 'Descending'. I haven't been able to identify what action is causing this sw

[2015-05-27 00:56] galbaras commented on #1878
FYI, I've tested with PHP-based caching, logged-in users excluded, late init and "nonce" filtered out on Pacific Springs, but still not good.

This lack of response isn't very encouraging. Pelvic Exercises is contemplating a change of shopping cart plugins and she's paid for Gold Cart and other extensions.

[2015-05-27 00:59] JustinSainton commented on #1878
Hi @galbaras,

Sorry for the lack of response - we've had a busier than normal week.

I'll connect with @JeffPyeBrook, our resident caching expert, and see if we can't nail this down.  Is WP Super Cache enabled on either site?

[2015-05-27 02:20] galbaras commented on #1878
Thank you, Justin.

If it's any help, I've found the thread the refers to nonce caching: https://a3rev.com/forums/topic/wp-super-cache/. I thought that excluding pages with "nonce" might help, but it didn't. Not sure how to overcome this otherwise, but if wp_create_nonce() is used in this case, maybe the "action" argument can be made unique to get around any caching?

[2015-05-27 02:30] JustinSainton commented on #1878
Hi @galbaras

I'm not seeing a menu mini-cart on the https://www.pelvicexercises.com.au site

[2015-05-27 03:51] galbaras commented on #1878
That could be because the page was cached when there were no items in it. That's exactly the problem.

[2015-05-27 03:54] JustinSainton commented on #1878
Hmm, how are you adding the widget to the header?  Is it the widget we ship with WP eCommerce?  Can you add it to the sidebar and we can test it there?  If it's caching a stale version, it should at least show the "empty cart" message

[2015-05-27 05:39] galbaras commented on #1878
The menu item is added using https://wordpress.org/plugins/woocommerce-menu-bar-cart/ (odd choice, but it works with no caching). Maybe it should be switched to https://wordpress.org/plugins/wp-menu-cart/?

On pacificsprings.com.au, the footer cart widget is a call to wpsc_shopping_cart() in footer.php with "cart location" set to "widget" in the store presentation settings. If I choose "manual", a

[2015-05-27 05:53] galbaras commented on #1878
OK, I've switched to the manual cart and adjusted all the styles to match the widget's. I've added "echo" in front of the call to the cart in the footer. As soon as I turn on caching in any mode, I get cached pages with the incorrect cart contents.

What now?

[2015-05-27 17:18] JustinSainton opened #1891 "As of 3.9.3, Extensions links no longer work as expected."
Likely an issue of the esc_url() fixes.  git bisect to the rescue!

[2015-05-27 23:47] DustinWoods opened #1892 "No error thrown if failed to insert purchase log"
If a MySQL error occurs inserting a purchase log row, wpec still continues to submit transaction to gateway, and also proceeds to take user to transactions results page.

In wpsc_submit_checkout within ajax.php, after the purchase log is created, there needs to be check to ensure the MySQL query was successful before processing the transaction. The end user should receive an error when this occurs

[2015-05-28 02:04] DustinWoods commented on #1892
To clarify, this is an issue with theme-engine-v1: /wpsc-components/theme-engine-v1/helpers/ajax.php

[2015-05-28 02:07] instinct commented on #1892
We need to put theme engine v1 to rest and fast!

Sent from my iPhone

[2015-05-28 02:48] JustinSainton commented on #1892
It's quite likely that this issue also exists in TEV2

[2015-05-28 09:45] benhuson opened #1893 "When editing a variation it allows you to select another variation as the parent"
When creating a new variation in the admin, the drop down menu only lets you choose a Variation Set to which to assign it (i.e. a variation term with parent = 0).

However, when you click in to edit a variation that is already created it lets you change the parent to another variation (where term parent > 0) rather than just a variation set which is unexpected behaviour and could cause problems.

[2015-05-28 14:50] DustinWoods commented on #1892
TEV2 creates a purchase log record in save_shipping_and_billing_info. Since it creates the purchase log in a separate request from the final transaction step, it may not cause the same issue as in TEV1.

[2015-05-29 14:40] benhuson opened #1894 "Loads of DB queries to wpsc_get_meta() for country data"
I'm seeing loads of DB queries to wpsc_get_meta() which look like it's to get region country info - about 250 queries!

[code]

It's happening on every page so may be related to #1845

Haven't tracked down where it's coming from but it would seem that whatever is doing this could be done more efficiently as a single query for all country data.

This is on development for a production site using WP

[2015-05-29 14:47] benhuson commented on #1894
I can confirm it is happening on master branch.

It's the wpsc_get_meta() call in the WPSC_Country class (line 300) which is called 250 times making 250 separate SQL queries:

https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/wpsc-country.class.php#L300

[2015-05-29 15:00] benhuson commented on #1894
Narrowed it down further to `_wpsc_countries_localizations()` being called in line 3 of checkout-localization.php to generate the country info for JavaScript in the header.

https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-components/theme-engine-v1/classes/checkout-localization.php#L3

Should this only be called on the checkout page?

[2015-05-29 15:15] JeffPyeBrook commented on #1894
Results are cached, so if your swing it on every page you have a cache issue

All the queries are eliminated in the PR I queue up

[2015-05-29 15:23] benhuson commented on #1894
Like the PR, will be good so see all that come out of the database.

I'm testing without any persistent object caching so it will be hit on each page I guess.

The weird thing is, I'm not even sure what "region_label" is?
It does't seem to exist anywhere in my db I don't think, and all 250 calls for it return no results.
I can't find any calls in core that set region_label meta, so what is it? is

[2015-05-29 15:26] JeffPyeBrook commented on #1894
Should still be caching in a transient?
On May 29, 2015 11:23 AM, "Ben Huson" <notifications@github.com> wrote:

[2015-05-29 15:41] benhuson commented on #1894
Don't think it is. Is it just supposed to be storing that specific meta value as a transient, or the entire Country object?

The Query Monitor plugin is showing me 250 calls to wpsc_get_meta() on every page as per the example SQL above, each with a different `object_id`.

Also, taking a quick look at the wpsc_get_meta() function, it appears to use wp_cache_get() to try to get cache, but then does'

[2015-05-29 17:55] JustinSainton commented on #1894
@benhuson There's an upgrade routine that sets "region_label" meta to States or Province, for US/CA respectively.  See `_wpsc_add_region_name_meta()`.

But yes, I'm not sure why we're using `wpsc_get_meta` at all in core - those functions have been broken for a long, long time.

[2015-06-01 05:30] galbaras commented on #1878
In this case, silence is definitely NOT golden :(

[2015-06-02 14:10] benhuson commented on #1893
Loosely related to #257

[2015-06-02 14:29] ncklln commented on #1684
Hi - did you ever get to the bottom of this? I have the same issue. http://www.pussyhomeboutique.co.uk
The shipping isn't added until the customer leaves the site and arrives at sagepay. Have tried with the Default Shipping Country script, but makes no difference. Once you click 'update' on the checkout page it works fine...
Thanks in advance

[2015-06-02 22:58] galbaras commented on #1878
Come ON, guys. I'm sure there's SOMETHING you can tell me.

I've compared (again) the theme files related to the cart display and they are identical to the defaults used by the plugin. Where else can I look for a possible solution?

How about this: is there any code that will update the cart contents using AJAX? Whether this is an existing action or something I'll need to create, please at least g

[2015-06-02 23:02] JustinSainton commented on #1878
Hi @galbaras,

Without having access to your server configuration, understanding the caching configuration, etc. it's quite hard to know what the issue is. Have you tried using the actual shopping cart widget, rather than the function?

What kind of traffic is this site getting?

[2015-06-02 23:13] npdemers commented on #1684
I have, but it's not a solution I'm happy with. It works, but basically I had to add some logic to my theme. Logic that was there in 3.8.12 but missing in 3.9.3, namely function wpsc_update_shipping_quotes() (used to be in wpsc-core/js/wp-e-commerce.js but is now in wpsc-core/js/wpsc-deprecated.js) and the jQuery fired by the "Shipping address same as billing" checkbox.

(Also I tweaked the wpsc-s

[2015-06-03 03:13] galbaras commented on #1878
Hi @JustinSainton,

Looks like when the cart widget is displayed in a sidebar on the page, BOTH the widget and the manually-added footer cart are updated, but on pages without the widget, the footer cart is shown as previously cached.

You can test this now on http://dev.get-business-online.com/pacificsprings/, where the home page shows a sidebar at the bottom, as opposed to the about/contact us,

[2015-06-03 03:37] JustinSainton commented on #1893
@benhuson Something like this?

[code]

[2015-06-03 03:54] 1bigidea commented on #1878
What is interesting about this issue - the cart tracked at the bottom on every single page on your site - except the About Us page. I saw your footer cart show up everywhere (including the contact us page, and all the sub pages of About Us). I don’t see any Javascript errors to help explain the issue.

But once I cleared the cart - I could see the cache issues.

The relevant section of code in Jav

[2015-06-03 05:50] JustinSainton commented on #1894
@JeffPyeBrook @benhuson Open to suggestions here. Sadly, there are quite a number of instances throughout core (and who knows how many plugins) using this generic meta table and their APIs.

There are undocumented quirks here. For example - meta keys may only contain numbers, letters, and underscores. Good to know, right?

So - bottom line - these functions need to be unit tested and refactored to

[2015-06-03 07:15] galbaras commented on #1878
Hi @1bigidea,

OK, I've found the solution, although I'm not sure I've found the problem. Instead of using the function wpsc_shopping_cart(), I use this:

<div id="sideshoppingcart">
	<div id="shoppingcartcontents">
		<div id="sliding_cart" class="shopping-cart-wrapper">
			<div class="wpsc_cart_loading"><p><?php _e( 'Loading...', 'wpsc' ); ?></p></div>
		</div>
	</div>
</div>

Works like a charm

[2015-06-03 07:49] benhuson commented on #1893
Yep, that's what I was thinking.
Was thinking about how to just target that admin page and had forgotten there was a `$context` parameter ;)

[2015-06-03 11:18] JeffPyeBrook commented on #1894
Sadly this is one of the areas that had had a change queued up and was left as is.

The right thing to do is use the built in wordpress meta infrastructure to store this meta, pretty easy to do.  The only wrinkle hear is that if all of the random meta is to be stored in one bucket the key needs to include the meta type. A saner approach would be to store each meta in its own table, and not invent

[2015-06-03 11:22] ncklln commented on #1684
Yep I just looked at your site and you've got the same issue as me. i only ship to one country so I want the shipping to calculate automatically on the checkout page - LIKE IT USED TO!! Don't you just hate it when people 'improve' their products and ruin them!
I'm a self-taught website maker so your tweaks look a bit to complicated for me, but thanks for your help anyway. Nick

[2015-06-03 17:32] JustinSainton commented on #1893
@benhuson Sweet!  Happy to merge a PR, otherwise, I'll get to it as soon as I can :+1:

[2015-06-03 17:36] JustinSainton commented on #1894
@JeffPyeBrook I'm not _super_ interested in adding another meta table for each of ~10 meta groups in core.  I think the weight of adding an additional 10 meta tables far outweighs the benefits gained by inheriting some of WordPress's core meta functionality.

[2015-06-03 17:48] JeffPyeBrook commented on #1894
@justin as I noted above, the arbitrary meta values a single meta table can suffice, key can be created by combining the meta value key with the meta value type

[2015-06-03 18:01] JustinSainton commented on #1894
@JeffPyeBrook True - that'll take a fair degree of back compat work, since keys will be different - but not insurmountable.

Let's file a separate ticket for that - related: #400.

In the meantime - the core issue originally posted here is not yet resolved.  @benhuson, any thoughts on that?  PR totally welcomed.

[2015-06-03 22:39] benhuson commented on #1894
I suspect that one approach would be to try to retrieve and cache all region meta in a single queries at the same time as all the countries are retrieved - like Posts and Post Meta?

I haven't delved deep enough into it yet to find the where that should happen.

[2015-06-03 23:12] JustinSainton commented on #1738
This appears to be fixed now.  @omarabid, can you confirm?

[2015-06-03 23:12] #1738 closed

[2015-06-03 23:14] JustinSainton commented on #848
#1738 seems to be fixed at this point.  Not sure which commit :fried_shrimp:

[2015-06-03 23:19] JustinSainton commented on #848
Regions also seem to be saved now :+1:

[2015-06-04 04:18] JustinSainton commented on #848
External rates are good now.

[2015-06-04 04:45] JustinSainton opened #1896 "Allow admins to grant access to new files for old customers on a product"
Currently, if you add a new file (say, documentation, or maybe an updated version the downloadable file) to a digital product - that new file is _not_ available to those that have purchased the product.

That is lame.  Granted, this may _sometimes_ be the intention. But it certainly shouldn't be the default.  I've confirmed with @pippinsplugins that EDD works on the assumption that if you upload a

[2015-06-04 08:22] misulicus commented on #1896
Not much to comment. That's just about right. But   wont the download tables get filled up if for each file product all past sales will get 1 more entry?

[2015-06-04 20:09] misulicus commented on #1896
The only other question since you mentioned we should do it the same as EDD is that EDD allows only 1 file per "product" and in wpec you can have 15 files for the same product.

[2015-06-04 20:12] pippinsplugins commented on #1896
That's not true. We have unlimited files per product.

On Thu, Jun 4, 2015 at 3:09 PM, Joldis Mihai Alexandru <
notifications@github.com> wrote:

[2015-06-04 20:13] JustinSainton commented on #1896
👍🏻 that's what I thought I recalled

[2015-06-04 20:14] misulicus commented on #1896
yeah i must have missed it

[2015-06-04 21:52] JustinSainton commented on #1896
@misulicus regarding the point of filling the download status table - that's sort of the point :+1:

That said, it may be worth exploring a just-in-time option as opposed to a scorched-earth approach. That is, the store admin could grant the privileges to the files for the product - and rather than filling the download_status table at that point, it could do it for each user, just in time, as they

[2015-06-05 04:48] JustinSainton commented on #848
Noting here for posterity - leaving wizard steps as-is `Going back a step does not reflect the active step` - it does in fact add a `active` class, so we can leave the styling of this class to themes.

[2015-06-05 05:01] JustinSainton commented on #1886
Noted - thank you!

[2015-06-05 05:01] #1886 closed

[2015-06-05 17:19] #1877 closed

[2015-06-05 19:44] #1893 closed

[2015-06-06 20:24] #1770 closed

[2015-06-06 20:35] #1360 closed

[2015-06-06 23:24] NikV commented on #1520
I think I can start this. What do you think we need? Do you have a checklist of stuff we could have in the text suite?

[2015-06-06 23:27] JustinSainton commented on #1520
@NikV Awesome!  We'd basically want to cover every type of product, variations, categories, product tags, downloads, orders, customers, etc.  Just a full suite of data to import for plugin and theme developers to test against would be awesome.

[2015-06-07 23:40] JustinSainton opened #1900 "Add API abstraction layers around our custom tables"
Over the last few years, we've done a great job with this for a lot of our tables.  WPSC_Purchase_Log, WPSC_Checkout_Form, WPSC_Checkout_Form_Data to name a few.

There are still a few tables where we don't have any helpful APIs wrapped around them.  Having these abstraction layers helps us lay a unit-testable foundation for the potential of ever moving to a different database layer for these APIs

[2015-06-09 17:23] TMUND commented on #1885
@JustinSainton Still looking for an answer to this if anyone knows...?

[2015-06-09 17:25] JustinSainton commented on #1885
I don't believe this is supported in the FedEx plugin.  If I recall correctly, it _may_ be supported for FedEx via the stamps.com plugin that @JeffPyeBrook built.  I'll let him weigh on on that, but it may be a good solution for you.

[2015-06-09 17:25] #1885 closed

[2015-06-09 17:26] TMUND commented on #1885
@JustinSainton thanks!

[2015-06-09 17:39] JeffPyeBrook commented on #1885
Yes, the stamps.com plugin will provide quotes and label printing that includes paid postage.

[2015-06-09 17:50] TMUND commented on #1885
@JeffPyeBrook Stamps.com plugin will provide label printing for USPS only or also for FedEx? I am trying to use FedEx exclusively for shipping.

[2015-06-09 18:14] JeffPyeBrook commented on #1885
USPS only

[2015-06-10 11:50] spuntotheratboy opened #1901 "Corrupt table exposes user data"
This issue began for me after upgrading to WPEC 3.9.3 on WP 4.2.2

On the checkout page, customers were presented with the previous customer's personal information.

On investigation, it turned out that every customer was being identified as a bot. The function `_wpsc_create_customer_id()` would return WPSC_BOT_VISITOR_ID because `wpsc_create_visitor()` would return false, this in turn because its

[2015-06-10 14:32] JustinSainton commented on #1901
Thanks for the report, @spuntotheratboy.  That's _super_ helpful for us.  We'll be shipping a 3.9.4 release to rectify this issue.  My proposed plan of attack is as follows, I'd love your thoughts on it:

1. On admin_init, for administrators, check if the visitor meta table is in need of repair.  If it is, link to repair page.
1. In `wpsc_(add|delete|update|get)_visitor_meta`, check if `$visitor_i

[2015-06-11 02:55] JustinSainton commented on #1901
This is now fixed in master, shipping a 3.9.4 release with the fix.

[2015-06-11 02:56] JustinSainton commented on #1901
If you're able to test our 3.9.4 branch, that'd be awesome - https://github.com/wp-e-commerce/WP-e-Commerce/tree/branch-3.9.4

[2015-06-11 07:54] spuntotheratboy commented on #1901
You're welcome - it was kinda fun, after it was just horribly frustrating!

I really don't think I know enough about the internals of the plug-in to have a valid opinion on your method, but it sounds good, as far as I can tell.

Also I'm off work until next week so I won't be able to test the new branch until then. I'll certainly do so when I get back.

Thanks,
Ben

[2015-06-11 22:55] JustinSainton commented on #37
I believe this is resolved now, as of #1890 and subsequent commits (ab858fc41e2bbaeabcbbb2e1e80f13805d92d2ea, bb1cd353b22f705e0181a739640e10417e3c5874, et al.).

Will likely iterate further on this for performance, but new bugs, new tickets.

[2015-06-11 22:55] #37 closed

[2015-06-12 00:07] ozoneboy opened #1904 "Typo in wpsc_user_log_functions"
Looks like a typo on line 129 of wpsc-theme/functions/wpsc-user_log_functions.php where "wpsc_checout" should be "wpsc_checkout"?

[2015-06-12 00:12] JustinSainton commented on #1904
Good catch!  Though, for what it's worth, the templates/files in the /wpsc-theme folder have not been used for several releases - they are deprecated, in favor of /wpsc-components/theme-engine-v1.

Thanks!

[2015-06-12 00:12] #1904 closed

[2015-06-12 01:57] #1901 closed

[2015-06-12 02:44] JustinSainton commented on #59
Curious to see if there is anyone who would want to take a day and hammer this out for 4.0.  Would love to launch with it.

@NikV @curtismchale @jbeales?

[2015-06-12 02:53] JustinSainton commented on #59
FWIW, I think for 4.0, we could keep things very simple.  Avoid any kind of Metadata API, avoid worrying too much about Reviews and Ratings. Just focus on [the single product page](https://developers.google.com/structured-data/rich-snippets/products#single_product_page).

[2015-06-12 02:56] JustinSainton commented on #462
Pinging @lizkaraffa to draft up a scope of work for this ticket for 4.2 (possibly 4.1, if someone wants to own it for that).

We had a great chit-chat with the literally inimitable @brinorcross about reporting in general, and she had some really great insights for us.  We'll get a scope here and make it a banner feature for an upcoming release.

[2015-06-12 03:06] JustinSainton commented on #603
Closing this out for 4.0  The only actionable item here is likely removing Chronopay, which can be on a separate ticket.

[2015-06-12 03:06] #603 closed

[2015-06-12 03:10] JustinSainton opened #1905 "Deprecate Chronopay"
It's time to deprecate Chronopay.

Why it was ever included in core, I have no idea, but it's rarely used.  We can model its removal after how the Link Manager was removed from WordPress.

[2015-06-12 03:19] JustinSainton commented on #622
Unless someone owns this, I don't see it happening this cycle.  It should be in the very first beta, and shouted loud from the rooftops, and not break backwards compatibility for the countless extensions that assume things about the location of pages currently.

[2015-06-12 03:38] 1bigidea commented on #462
This is still on my plate - but I will need to get my tests into place for the current setup so we don’t break things.

- Tom

Every successful WordPress project starts with...
One Big Idea

(360) 746-2101                         transom@1bigidea.com
(815) 642-0258 efax 
gChat: transom@1bigidea.com    SKYPE: tomransom
Twitter: wp_site_manager                     www.linkedin.com/in/onebigidea

On

[2015-06-12 05:11] JustinSainton commented on #1255
Duplicate of #711

[2015-06-12 05:11] #1255 closed

[2015-06-12 05:45] #711 closed

[2015-06-12 05:47] JustinSainton commented on #1109
Confirmed that this is built properly in 2.0.

[2015-06-12 05:47] #1109 closed

[2015-06-12 05:52] JustinSainton commented on #1016
@JeffPyeBrook Do you imagine you'll have time to address anything here specifically for the 4.0 release?  Happy to punt to a future release if you are.

[2015-06-12 05:59] JustinSainton opened #1906 "Select2 for Target Markets"
Seriously, this would be so much better than the ridiculous checklist we have.

[2015-06-12 06:07] JustinSainton commented on #1263
Fully updated to 4.0 via fb96d6c0cb62e6a8d3dda8103190c7648bd43275

[2015-06-12 06:07] #1263 closed

[2015-06-12 06:12] JustinSainton commented on #1758
We've determined this to be a GoDaddy-specific issue.  Deleting the /wp-content/object-cache.php file until they move to Memcached instead of APC (possibly happening, at some point) or we move to a different data layer for countries (#1865) will do the trick.

[2015-06-12 06:12] #1758 closed

[2015-06-12 06:13] JustinSainton commented on #1880
Fixed.

[2015-06-12 06:13] #1880 closed

[2015-06-12 06:14] JustinSainton commented on #1776
Thanks for the feedback, @codesman.  Closing as invalid.

[2015-06-12 06:14] #1776 closed

[2015-06-12 06:16] JustinSainton commented on #1799
Yeah, I tend to agree with @benhuson here.  SKU == stock keeping unit.  Product IDs have nothing to do with stock.  If you want to filter the N/A, that's fine, I'd merge something for that.

[2015-06-12 06:16] #1799 closed

[2015-06-12 06:31] #1728 closed

[2015-06-12 06:35] #1709 closed

[2015-06-12 06:36] #1697 closed

[2015-06-12 06:38] JustinSainton commented on #1681
Confirming, I've had no problems with USPS in core as of late.

[2015-06-12 06:38] #1681 closed

[2015-06-12 06:40] JustinSainton commented on #1672
Punting to 4.1, unless you think you'll have time for this, @benhuson?

[2015-06-12 06:42] JustinSainton commented on #1670
@JeffPyeBrook I don't believe this is still the case - can you confirm?

[2015-06-12 06:43] #1670 closed

[2015-06-12 06:45] JustinSainton commented on #1595
Punting to 4.1

[2015-06-12 07:00] JustinSainton commented on #1373
Confirmed this fails in both 1.0 and 2.0 theme engines.

[2015-06-12 07:02] JustinSainton commented on #1380
Just noting here that we should check the 3.0 gateways for digital goods and express checkout as well.

[2015-06-12 07:03] JustinSainton commented on #1389
Related: #1894

[2015-06-12 07:03] JustinSainton commented on #1432
As #1572 has been merged, this should be fixed.

@jbeales @benhuson can you both test?

[2015-06-12 07:04] #1432 closed

[2015-06-12 07:12] JustinSainton commented on #1521
Closing, as I think we're all set here.

[2015-06-12 07:13] #1521 closed

[2015-06-12 07:15] JustinSainton commented on #1541
@jbeales any traction here?

[2015-06-12 11:57] JeffPyeBrook commented on #1016
@JustinSainton I beleive the countries class PR that is queued up should handle much of what is needed here.

[2015-06-12 14:45] JustinSainton commented on #1016
@JeffPyeBrook Awesome.  Do you see that being ready soon?

[2015-06-12 14:47] JeffPyeBrook commented on #1016
i have been testing it and haven't seen any issues yet, not sure anyone has looked at it?

[2015-06-12 14:53] JustinSainton commented on #1016
I've looked at it, haven't used it yet though.  There were some todos [here](https://github.com/wp-e-commerce/WP-e-Commerce/pull/1865#issuecomment-98234773) that seem unfinished?

[2015-06-12 16:36] JustinSainton commented on #1016
@JeffPyeBrook alright, just gave it a final audit.  seems to be pretty close.

[2015-06-13 16:38] JustinSainton commented on #1172
Commit forthcoming.  Note: Only changing in areas that are not deprecated or soon to be deprecated.

[2015-06-13 19:17] TMUND opened #1907 "Purchase button broken after last update"
Hi WP eCommerce team,

I updated my eCommerce plugin last week since I saw a new one had come out and now my "purchase" button is broken. The button seems to capture the sale as I can see it in my sales log in the dashboard, however it does not take me to the "transaction complete" screen and all of the payments have been coming back as "payment declined"

Any idea where I should start looking for

[2015-06-13 19:22] TMUND commented on #1907
eCommerce Version 3.9.4 and wp_version = '4.2.2' if that helps

[2015-06-13 19:25] TMUND commented on #1907
Also, please let me know if there is a better place to post issues such as this Justin :)

[2015-06-13 20:23] TMUND commented on #1907
After some looking around I found #1038, which seems to be what is happening to me. Unfortunately, I am still not sure what the fix would be to ensure the customer gets taken to the "transaction results" page...

[2015-06-13 23:45] JustinSainton commented on #1907
Hi @TMUND,

Can you confirm what gateway you're using?

[2015-06-14 00:11] TMUND commented on #1907
Authorize.net AIM

[2015-06-14 00:12] JustinSainton commented on #1907
I imagine you're using it from Gold Cart?  Do you know what version of Gold Cart you're using?

[2015-06-14 00:14] TMUND commented on #1907
Yup, Version 2.9.7

[2015-06-14 00:17] JustinSainton commented on #1907
Ah, you need to upgrade to 2.9.9.  Authorize.net updated their certificates and APIs in a pretty breaking way - if you don't have the updated certificates that we ship with 2.9.9, all payments are declined.  Lame sauce.

[2015-06-14 00:17] #1907 closed

[2015-06-14 00:19] TMUND commented on #1907
AHA! Thanks @JustinSainton, I figured something updated and broke but couldn't track it down. I don't see the update available through WP dashboard, where else can I find it?

[2015-06-14 00:25] JustinSainton commented on #1907
You'll need to download it in your account at wpecommerce.org

[2015-06-14 01:48] #1025 closed

[2015-06-14 03:52] JustinSainton commented on #1809
@JeffPyeBrook Going to go ahead and punt this to 4.1, but if you are able to get around to it for 4.0, that's awesome, too!

[2015-06-14 05:39] #59 closed

[2015-06-14 06:07] JustinSainton commented on #1326
Worth noting that this actually already happens at the UI level in TEv2.  Punting to 4.1 for TEv1.

http://zao.is/2014/07/set-default-shipping-country-wp-ecommerce/

The above approach works great, I've used it on several client sites without issue.

[2015-06-15 04:59] #541 closed

[2015-06-15 04:59] JustinSainton commented on #541
Fixed for TEv2.  Not recommending that we necessarily fix it for v1, but if someone feels passionately about that, I'd merge a PR for it.

[2015-06-15 05:00] JustinSainton commented on #541
Also, FWIW, not at all over the moon about how validation is being handled inside the cart controller in V2.  Could use a bit of cleanup.

[2015-06-16 06:48] galbaras commented on #1736
@JustinSainton and @ablears, I think it would be much simpler to change the code from using "ga", which is outdated and doesn't work, to using "__gaTracker", which works.

In the meantime, I've placed the following code at the top of the wpsc-transaction_results.php within my theme:

<script type="text/javascript">
	var ga = typeof ga === "undefined" && typeof __gaTracker !== "undefined" ? __gaTra

[2015-06-16 08:56] benhuson commented on #1894
On an initial look into it, `wpsc_get_meta()` doesn't seem to use be using the WP_Object_Cache API properly, so prefetching meta to cache it (like how post meta works) is not going to work until that is fixed.

Essentially if you call `$wpsc_country->get( 'region_label' )` multiple times on the same `$wpsc_country` object it does a DB request each time rather using wp_cache_get() and wp_cache_set(

[2015-06-16 10:29] benhuson commented on #1736
I prefer the @JustinSainton way of handling fallback for older tracking code if possible. Updating tracking codes tends to be one of those things that often gets missed and there could be a lot of people not using the latest tracking code.

I recently saw some JavaScript code in a project I was working on with fallbacks all the way to urchinTracker() for tracking page views ;)

Not sure that it's

[2015-06-17 00:52] galbaras commented on #1736
@benhuson, your code seems to miss the most important function: __gaTracker. That's the correct one to use. Still, you point about backward compatibility is valid.

I've actually used the code proposed by @JustinSainton, which ensures backward compatibility with "ga". I've just placed it in a theme file, instead of the plugin, to protect it from being overwritten by plugin updates.

[2015-06-17 07:09] galbaras commented on #1736
I can confirm that the following works:

If needed, copy the file wpsc-transaction_results.php to the active theme directory. Then, edit it and add the following code between the closing PHP tag (?>) and the DIV tag:

<script type="text/javascript">
	var ga = typeof ga === "undefined" && typeof __gaTracker !== "undefined" ? __gaTracker : ga;
</script>

[2015-06-17 09:05] benhuson commented on #1736
@galbaras Yep, was aware it wasn't fully up-to-date, but just interesting to see fallbacks all the way back to urchin :)

[2015-06-17 17:13] #1736 closed

[2015-06-17 17:15] 1bigidea commented on #844
I tried to recreate this issue. But WordPress appears to correctly deliver a single post regardless of how many posts have the same slug to this function. That said, the query that is executed within this function could return the wrong post since it doesn't test for post_status. This PR addresses that issue.

[2015-06-17 17:17] #844 closed

[2015-06-17 19:10] JustinSainton commented on #1888
I encountered this as well. Were you able to fix it?

[2015-06-17 19:44] JustinSainton commented on #1892
Hi @DustinWoods,

Let me know if you're able to submit a PR for this, would love to see it merged.  Thanks!

[2015-06-17 20:51] DustinWoods commented on #1892
Thanks for reminding me!

[2015-06-17 20:52] #1892 closed

[2015-06-17 20:52] JustinSainton commented on #1892
No problem, thanks for the PR!

[2015-06-17 21:06] benhuson commented on #1894
PR #1908 doesn't entirely fix this, just paves the way for it by ensuring wpsc_get_meta() results are cached the first time they are called for a specific object ID, so multiple calls for the same object meta don't generate multiple DB requests.

At the moment wpsc_get_meta() is still called 250 times to get all the different country region label meta - so 250 DB queries.

Now that it correctly ch

[2015-06-17 21:16] JustinSainton commented on #1894
sorry, got a little trigger happy :P

[2015-06-17 22:34] JustinSainton commented on #1825
Closing as fixed.

[2015-06-17 22:34] #1825 closed

[2015-06-17 23:09] JustinSainton commented on #1552
Could not replicate in TEv2.

[2015-06-17 23:09] #1552 closed

[2015-06-18 04:20] jbeales commented on #1888
No, but I haven't attempted to. The stuff was properly deleted and I was busy.

[2015-06-18 05:05] #1373 closed

[2015-06-18 07:53] kehall commented on #1889
I don't believe this is actually changing to Descending, it's basically like it swaps around each time - there must be a sort order reversal in wordpress that is actually reversing the dragged and dropped sort order... It appears to have been around for at least 2 months or whenever (I think WP 4.x) was shipped.

You can check this by drag/drop an item to the bottom of the list... next time you go

[2015-06-18 13:21] #1894 closed

[2015-06-18 15:10] benhuson commented on #1389
So, now we should be able to resolve this using the new wpsc_update_meta_cache(),

See Country meta for an example:
https://github.com/wp-e-commerce/WP-e-Commerce/commit/845e287fd945477dc8b4ff765509766d52fa249c

[2015-06-18 20:07] #1389 closed

[2015-06-18 21:00] JustinSainton commented on #1831
Punting the bulk of this to 4.1, where we will have the inimitable @RRWD execute a full audit of the new theme engine for accessibility.

But for now, e27c47a41fb84d20badbae7a48ed2aaa042e9a1d

[2015-06-19 05:49] JustinSainton opened #1915 "Add API for Coupon Meta"
Lots of potential coupon meta, but the initial use case in my mind is descriptions.  Knowing the exact purpose of a coupon with a short description can provide incredibly helpful context when running reporting on coupon usage.

[2015-06-19 13:18] benhuson commented on #1915
I guess you would propose storing this in the existing WPSC meta table - same as country regions, product category meta etc?

If we were to move Coupons to a post type at any post, if we have a robust API I guess migrating meta data as well should;t be too tricky. Not sure wether the plan was to do that at some point?

[2015-06-19 13:23] JeffPyeBrook commented on #1915
@benhuson a custom private post type would be really nice to work with. Defining the well known attributes saved as meta on the post would provide a clean interface for third parties that want to do interesting things with coupons.

Also don't discount the value of using a custom post type vis-a-vis getting import and export capabilities for free. It would be really nice to be able to move coupons

[2015-06-19 13:43] JustinSainton commented on #1915
@benhuson @JeffPyeBrook Awhile back, I had been really into the idea of coupons as a custom post type.

And then I started working with daily deals sites that created anywhere from 10K - 100K unique coupons...for every deal they ran...and the idea of that being in the post table sort of terrifies me now.

That , I think having a robust API to work with (for all the reasons states - taxonomies, met

[2015-06-19 14:23] JeffPyeBrook commented on #1915
100K posts in a posts table isn't a real big deal, WordPress can handle it well if the design of the custom post type is considerate of the implementation under the hood.

You are correct to be concerned if the implementation isn't done with performance in mind. WPEC already can have performance issues with large product catalogs because it is using parent-child posts for product variations. I hav

[2015-06-19 15:57] JustinSainton commented on #1915
Indeed, there are too few qualifiers in your comments for me to think it's a good approach.

However, with a properly abstracted data layer, there's no reason someone couldn't swap out the underlying data store.  I just don't think it's the best approach for us today.  If we were having a discussion about whether or not to add a new table for coupons or to just use CPTs - I might be a bit more swa

[2015-06-19 22:12] danmilward commented on #516
@benhuson just checking, I know its been a long time but do you know whether or not @garyc40 ever got around to nailing the AJAX support. If so are you still a fan of spinning out Fancy Notifications into its own Plugin?

[2015-06-19 22:15] JustinSainton commented on #516
@danmilward AJAX support was never added. The only javascript included on the front-end of the theme engine revolves around the shipping calculator, country drop downs, and payment method selection - none of those adding any AJAX requests

[2015-06-20 03:06] #1737 closed

[2015-06-21 03:42] webaware opened #1916 "wpsc_merchant::set_authcode() doesn't update object cache"
The method [`wpsc_merchant::set_authcode()`](https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/merchant.class.php#L326-L346) does a direct update of the purchase log table, without updating the object cache. On sites with a persistent object cache, this leads to loss of the transaction's auth_code when the transaction is subsequently updated, e.g. status changed from `Accept

[2015-06-21 03:47] JustinSainton commented on #1916
Hi @webaware,

Thanks for the report!  We'll get this fixed ASAP.

[2015-06-21 03:53] #1916 closed

[2015-06-21 19:15] JustinSainton commented on #1737
After 7cd929e531fd1911ea66d3868d45bf67d41dc623, I started getting fatal errors, because somehow, it was adding the subtotal as a value in the cart_items array.  Bizarre, and not sure why, but after clearing everything out, it seems fine again.  Leaving this note here for posterity, just in case it crops up again.

[2015-06-21 21:42] JustinSainton opened #1917 "Ensure we have the most up to date list of countries that don't use fractions."
We currently have three in core. There are over 30.

[2015-06-21 21:48] JustinSainton commented on #1917
Okay, maybe 20 total currencies, but 32 countries :)

[2015-06-21 21:49] #1917 closed

[2015-06-22 05:59] JustinSainton commented on #848
@misulicus FWIW, this bug:

[code]

I was _only_ able to replicate this when clicking the "return to store" link on the PayPal page.  When auto-returning, it works fine.

In the 1.0 engine, however, it works either way.  Definitely worth investigating further.

[2015-06-22 08:23] misulicus commented on #848
yeah i was clicking return to store too when i saw that

[2015-06-22 09:30] benhuson commented on #1915
I agree with @JustinSainton

If we were build afresh, I'd probably go with CPT, but as we are where we are probably best to put a robust API in place then there are possibilities for changing data store in future.

Having said that, import and taxonomies out-of-the-box would have been nice :disappointed:

[2015-06-22 09:34] benhuson opened #1918 "Cached meta needs invalidating when changed."
Just need to re-check the implications of #1389 and #1894

Need to check that when category and country/region meta is changed we invalid the cache.

Hopefully these will be using some sort of wpsc_update_meta function/API where we can add in functionality to delete meta cache.

If not, we need to add one.

[2015-06-22 10:10] secci commented on #1756
The fix is here: https://github.com/misulicus/WP-e-Commerce/commit/bd08657ab9c47534c964c54e940d917251b0121f

[2015-06-22 10:55] misulicus commented on #1889
Not sure if you guys still see this but i just tested and they seem to "stick" to the order i`m setting them to. Using latest master from github

[2015-06-22 21:12] JustinSainton commented on #1492
Thinking this through a bit further - the only gateways we're actively promoting in core that have credit card fields have them hosted off-site, out of our control.

Closing this, effectively, but would love to see any specific payment gateways that are able to implement this, as it does indeed seem cool.

[2015-06-22 21:12] #1492 closed

[2015-06-22 21:18] JustinSainton commented on #1918
@misulicus reported, and I confirmed, that after #1914 was merged, we get a PHP warning on the Products page in the admin (List Table view of products)

https://cloudup.com/crk7wsCKiea

If you var_dump() the $terms in wpsc_get_terms_category_sort_filter(), it'll show up in the quick-edit view and actually seems to have two arrays rather than a single array.  The first, an array of Term IDs - the s

[2015-06-23 05:47] JustinSainton commented on #1852
Worth noting, this change *will break* for anyone doing hacky things like forcing POST variables and expecting them to also be set as REQUEST variables.

We should document this change

Related: #1891.

[2015-06-23 05:47] JustinSainton commented on #1891
This was broken not by esc_url(), but rather, by https://github.com/wp-e-commerce/WP-e-Commerce/commit/4a5c55b16b6fe8e1fd536226321cc08bb1b59a81

[2015-06-23 05:47] #1891 closed

[2015-06-23 06:05] JustinSainton commented on #1889
Going to close this as unconfirmed until we can reliably identify the root issue here at play. If any further information can be gathered, please feel free to re-open.

[2015-06-23 06:05] #1889 closed

[2015-06-23 06:08] JustinSainton opened #1919 "In TeV2, PayPal Standard does not execute the IPN functionality unless auto-returned."
Originally reported against #848:

Tested a payment with Paypal Standard Sandbox mode. Payment went OK. Was returned to a /results/?sessionid page and order was still "pending". Tried to refresh the page and it redirected me to /store/ with empty cart message. Admin sales log still shows order as Incomplete sale (5 mins later) with IPN enabled

[2015-06-23 06:10] JustinSainton opened #1920 "Create UI for adding store "pages" as menu items in TEv2."
Currently, there's no way to actually access the store pages that are created.

We need a NUX to direct users to create (or have created for them) the most logical pages in their menu.

Originally reported against #848.

[2015-06-23 06:11] JustinSainton opened #1921 "Create UX for users who are transitioning between theme engines."
Consider UX for users who start out on one version, and then through changes to their environment, switch to the other. This might be quite jarring, in fact

Originally reported against #848.

[2015-06-23 06:19] JustinSainton opened #1922 "Ensure SEO for Products is maintained when transitioning from 1.0 to 2.0 theme engine"
Need to ensure that users who upgrade from the 1.0 engine to the 2.0 engine don't lose their SEO goodness on products pages...need to ensure old links work and redirect seamlessly with the new.

Need to have rewrite rules map 302 Redirects for all major pages, post types, taxonomies, etc.

### Pages
- [ ] Product Page
- [ ] Shopping Cart
- [ ] User Account

### Post Types
- [ ] Products

### Taxon

[2015-06-23 06:21] JustinSainton commented on #848
With the last remaining known issues stubbed off, we can finally close this ticket :dancers:

[2015-06-23 06:21] #848 closed

[2015-06-23 06:25] leewillis77 commented on #1852
Thank you for your notes. Hacky things updated :)

[2015-06-23 06:25] JustinSainton commented on #1852
:+1:

[2015-06-23 06:32] JustinSainton commented on #1370
Closing this out as unconfirmed.  The original report was unclear and the website is no longer using WP eCommerce.

[2015-06-23 06:32] #1370 closed

[2015-06-23 06:37] JustinSainton commented on #1564
FWIW - I think shipping fields should _always_ be shown, unless the store owner wants explicitly to hide them.  Even with goods that are not being shipped, it's helpful customer information for stores to have by default.  If they don't want shipping fields to show when a cart doesn't have shipping...we should make an easy way for that to occur.  It would be a _very_ short plugin to write.

now, th

[2015-06-23 06:40] JustinSainton commented on #1505
Because this requires list and grid view to be available, it is intrinsically a Gold Cart issue.  As such, we can punt to the next milestone, pending any PRs put forth for it.

[2015-06-23 06:48] benhuson commented on #1918
The issue is that when using get_terms() you can specify a fields argument to just return certain term fields. The default is to return term objects but if you specify anything other than 'all' then an array of values will be returned instead.

I was assuming $terms were always term objects when going through that filter but that's not the case.

@JustinSainton Your commit fixes the issue but actu

[2015-06-23 06:49] JustinSainton commented on #1918
@benhuson :+1: Looks great.  Cheers!

[2015-06-23 07:03] #1918 closed

[2015-06-23 07:06] benhuson commented on #1918
Can also confirm cache already seems to be deleted when updating and deleting meta.

See in wpsc_update_meta():
https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/meta.functions.php#L80

See in wpsc_delete_meta():
https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-includes/meta.functions.php#L118

:smile:

[2015-06-23 07:07] JustinSainton commented on #1918
This is why we love you, @benhuson

[2015-06-23 08:19] benhuson commented on #1918
Right back at ya

[2015-06-23 08:32] benhuson commented on #1698
Missing a curly brace in if statement?
https://github.com/wp-e-commerce/WP-e-Commerce/commit/6daf1b0d2f9a7805215138ae4b9057504d27cac7#diff-3a14437c233179464bc81aeb3a543e0fR1113

[2015-06-23 13:46] #1698 closed

[2015-06-23 16:31] JustinSainton opened #1925 "Internal Documentation Pass"
As time as flown by, WordPress documentation standards have greatly improved.  It's time we follow suit.

https://make.wordpress.org/core/handbook/inline-documentation-standards/php-documentation-standards

I'd like to see some time dedicated to focusing on internal documentation.  Not necessarily with an emphasis on legacy, deprecated, or soon-to-be deprecated code - but first, bringing all exist

[2015-06-24 04:41] JustinSainton opened #1928 "In TEv2, when a user creates an account as a guest on checkout, their profile information is not saved"
Not a blocker for 4.0, unless someone wants to own it, but we need to make sure the profile information entered is saved as their profile information.

[2015-06-26 03:37] jbeales opened #1930 "Allow regions to be filtered."
It would be great to allow regions to be filtered. This could let people, for example, only ship to some states or provinces.

[2015-06-26 04:38] #1930 closed

[2015-06-26 08:46] benhuson opened #1932 "The '_wpsc_product_gallery' meta is copied as-is when duplicating a product."
The `_wpsc_product_gallery ` meta value should be updated to references new image IDs when a product is duplicated.

Follows on from other product/image duplication enhancements in #1672

[2015-06-26 08:47] benhuson commented on #1672
When #1929 is merged this ticket can be closed.

I've set up a new issue for tackling `_wpsc_product_gallery `.

[2015-06-26 13:30] JustinSainton commented on #1672
Awesome, thanks @benhuson!

[2015-06-26 13:30] #1672 closed

[2015-06-26 17:27] jbeales opened #1933 "Flat Rate Shipping Settings auto-fill zeros when fields should be blank."
On the Shipping Settings page, in the Flat Rate module, we're supposed to enter a zero for free shipping to a location, and leave the input empty if we don't want to ship to that location. However, in the current master a zero gets filled in when a blank field is submitted.

[2015-06-26 17:32] jbeales opened #1934 "When using the shipping Quick Edit for a variation, the title says "Stock Editor""
As in the title & screenshot. I would expect it to say "Shipping Editor"

PR Coming.

![screen shot 2015-06-26 at 1 29 14 pm](https://cloud.githubusercontent.com/assets/104935/8383390/c8be95e2-1c07-11e5-8658-01c359ff99cd.png)

[2015-06-26 17:42] #1934 closed

[2015-06-26 20:49] jbeales commented on #1541
Notes on GST (Canada's national sales tax): http://www.cra-arc.gc.ca/E/pub/gp/rc4022/rc4022-e.html#P1462_133649

[2015-06-26 21:00] jbeales commented on #1541
This is turning into a bigger animal than expected. I'll push changes to [this branch in my fork](https://github.com/jbeales/WP-e-Commerce/tree/tax-discounted-prices) until it's ready for reintegration here.

[2015-06-29 13:42] jbeales opened #1936 "Readme is outdated"
The README.md file says that the current stable release is 3.9.3, but it's 3.9.4.

[2015-06-29 13:45] #1936 closed

[2015-06-29 14:37] #1933 closed

[2015-06-29 16:09] JustinSainton commented on #1036
Per mi amigo @jchristopher, would be great to include template part versioning as part of diagnostics.

[2015-06-29 20:53] JustinSainton commented on #1922
Noting here - single products don't seem to have rewrites flushed for them when migrating from TEv1 to V2. Need to make sure we make a way for this to stick, as 6218981992a0efab531c062337b3cbd6dec81332 doesn't seem to totally do the trick.

[2015-06-29 21:19] JustinSainton commented on #1922
FWIW - I've tested both with and without Hierarchical URLs (for categories) migrating from TEv1 to TEv2 - and `redirect_canonical` seems to be doing a great job with it so far.  301 Redirects every time.

This is going to be an area that will be _very_ important to communicate to people about.

[2015-06-29 21:30] JustinSainton commented on #1922
Confirmed that sub-categories are _not_ redirectd.

[2015-06-29 21:30] JustinSainton commented on #1922
Categories are also _not_ redirected

[2015-06-29 21:35] JustinSainton commented on #1922
Product tags _are_ redirected.

[2015-06-29 21:35] JustinSainton commented on #1922
Note: tested tags with `tagged` base filtered, and without, and it worked fine in both.

[2015-06-29 21:57] JustinSainton commented on #1922
Just confirming, for posterity, that all created pages are not redirected.

This _sort of_ ties into #1920 and #1921. As part of those tickets, we need to be sure to check if old 1.0 pages exist, and advise removing/replacing them with new ones.

[2015-07-01 01:46] JustinSainton opened #1938 "Check VAT for Amazon Payments countries"
See https://github.com/amzn/amazon-payments-magento-plugin/commit/ba539f850f477033a1db89462621ff3c6b74235a#commitcomment-11884714

[2015-07-01 06:49] #1938 closed

[2015-07-02 04:16] JustinSainton commented on #1844
Punting for a future release, as this is non-essential.

[2015-07-02 04:17] JustinSainton commented on #1830
Punting the remainder of this to a future milestone, as it is a nice standard, but non-essential for the release.

[2015-07-02 04:18] JustinSainton commented on #1906
As much as I _want_ this to happen, it's probably not going to make it.  Punting unless someone else wants to own it (which would make me endlessly delighted)

[2015-07-02 04:37] JustinSainton commented on #1016
@JeffPyeBrook I'm going to go ahead and punt to 4.1.  Now that we're in beta, it's a bit too late to merge.  If you can take a look at the todos, we can merge it early in 4.1.  Otherwise, I'll take a stab at it then.

[2015-07-02 04:42] JustinSainton commented on #1932
@benhuson Is this something you think we can land before beta2? That will likely be dropping next Wednesday..

If not, that's totally fine, but we'll punt it to 4.1 at that time.

[2015-07-02 05:50] JustinSainton commented on #516
Hey guys,

I think there has been some _really_ good conversation on this thread over the years, but it's probably tie to break it down into distinct, actionable steps and put it out to pasture.  I'll propose steps in this comment and hopefully, over the next week or so, we can gain consensus among those who have weighed in.  As that occurs, we'll move each item into it's own issue, and close this

[2015-07-02 05:56] JustinSainton commented on #720
We actually have this fixed in the new theme engine.  Will punt this to a Future Release and tag as TEv1 for fixing in that.

[2015-07-02 06:27] JustinSainton commented on #1679
Going to go ahead and punt this.

What we're basically going to have to start doing is actually support LTL, Freight, and Package shipments for UPS...none of which sound like a particularly good time, and certainly not in the scope for 4.0.

[2015-07-02 06:33] JustinSainton commented on #1703
This is actually already fixed in TEv2.  So, we'll punt for TEv1.

[2015-07-02 09:49] benhuson commented on #1932
I'll see what I can do ... but no promises

The first step would be to ensure _wpsc_product_gallery meta isn't copied across if images are set to not copy. I can probably get that done but may not have time to fit in the remapping of image IDs if images are copied.

[2015-07-02 21:08] misulicus opened #1939 "Make sure our countries are up to date"
Make sure our countries are up to date

[2015-07-02 21:22] JustinSainton commented on #1939
This will include checking the following areas against [this country listing](http://www.currency-iso.org/dam/downloads/table_a1.xml):
- [ ] Proper currency
- [ ] Proper currency code
- [ ] Proper country name (Including HTML-entities for international names, [like this](https://github.com/woothemes/woocommerce/blob/master/i18n/countries.php#L19))

Also, should include an upgrade routine that cove

[2015-07-03 03:01] JustinSainton commented on #1939
Milestoning for 4.0 - if we can get it done before beta 2 next Wednesday, we can squeeze it in.  If we can't, we won't.

[2015-07-03 03:02] JustinSainton commented on #1919
So, I actually just tested this - I was noticing this failing locally, so I tested it on a publicly available server.

Not only did it work fine -it worked totally fine without auto-returning to the site.  Without even clicking the "Return to X Store" link, which takes you to the auto-return page - it worked perfectly.  So unless we hear more about this, I'm calling it good.

[2015-07-03 03:02] #1919 closed

[2015-07-03 08:40] benhuson commented on #1932
That should do it - including remapping of image IDs in gallery meta :wink:

[2015-07-03 18:56] #1932 closed

[2015-07-04 18:10] anix1 commented on #1843
I just ran into this issue on my client's website and think that yes, it would be great for product variations to inherit their parent tax exemption.

[2015-07-06 06:22] HenryHzz opened #1941 "Short description field not saving in draft"
Adding a short description in draft mode doesn't seem to be saving. However, it does save when using the "Publish" button. Steps:

1) create a new product
2) In the "Product Detail" section, navigate to "Short description" tab.
3) Enter a short description.
4) Press "Save Draft"
5) Navigate to another page, then come back to the draft product
---> Short description is empty.
====> checking databas

[2015-07-06 19:15] JustinSainton commented on #1941
Thanks for the great bug report @HenryHzz!  Really appreciate the attention to detail.

If you're able to submit a pull request for this, we could get it into the 4.0 release (currently in beta 1) - but without that, we'll likely have to wait until 4.1 to have the resources available to get a fix in.

Thanks again for the great report!

[2015-07-06 20:09] benhuson commented on #1941
Hi @HenryHzz

A great step by step report - makes it so much easier to test :smiley:
I quickly tried to replicate this issue but couldn't.

Can you confirm this is with no other plugins active?

[2015-07-06 23:26] #1928 closed

[2015-07-10 15:46] ace-dent commented on #1939
Country code updates. #120

[2015-07-15 16:13] jbeales opened #1943 "If there is more than one page of variations in the variations frame, and you trash everything on the last page, you get stuck on an empty page with no way to get back"
Assume there are 20 variations displayed per page in the variations frame on the Edit Product page. If I have 24 variations, and I trash 21-24 from the 2nd page of variations, I get shown an empty page in the frame, with no link back to the first, (or previous), page of variations.

The only way back to the first page of variations is to refresh the whole web page.

Possibly related to #1141

[2015-07-16 02:56] HenryHzz commented on #1941
Hi Ben and Justin,
Thanks for the quick reply. I did originally reproduce on my test site turning off all plugins and then also switching to 2015 theme (I normally run with a custom theme). However, after seeing your results, I created another clean test site with 2015 theme, I wasn't able to reproduce also. When I get a chance, I'll try to find out why my testsite wasn't successful even with ever

[2015-07-16 06:13] NZSmartie commented on #1704
I've come across the issue myself. using Wordpress 4.2.2, WP eCommerce 3.9.4

I'm not familiar with WP eCommerce, but after looking at  stack trace, the issue arises when `wpsc_product_sort_order_query_vars(null)` is called inside `/wpsc-components/theme-engine-v1/helpers/query.php:233`
in my case, inside `wpsc_product_sort_order_query_vars()`, `get_option('wpsc_sort_by')` returns false. Which hap

[2015-07-16 06:19] NZSmartie commented on #1704
Easiest fix is to go to the Wordpress dashboard, `Settings` -> `Store` -> `Presentation`, choose something for `Sort Product By` and then `Save Changes`

[2015-07-16 19:44] JustinSainton commented on #1739
Punting this to a future release pending any further traction.

[2015-07-16 19:45] JustinSainton commented on #1826
Punting to 4.1 pending further traction.

[2015-07-16 20:44] JustinSainton commented on #1569
Punting to a future release.

[2015-07-17 07:56] nb000 opened #1946 "Bug in purchase-log-list-table-class.php"
Affected version: WP e-Commerce 3.8.13.3
In the query:

the `$total_where` variable can contain references to other tables, when the `$search_sql` is not empty.

The same bus is also in the query:

The dashboard stat area throws 2 warnings every time it is opened.

[2015-07-19 08:07] cklosowski opened #1947 "Update all extensions of WP_Widget to use proper constructor"
Notice just started showing on all Widgets extending `WP_Widget` and using the old `$this->WP_Widget` constructor method, instead of the `parent::__construct()` method of instantiation. Looks like WPEC has 2 more spots left using it:
[code]

[2015-07-19 08:20] cklosowski opened #1949 "Possible division by zero in Price Range Widget"
By putting the price range widget on a page without having any products specified, I'm able to produce a `division by zero` notice:

[code]

[2015-07-19 10:26] misulicus commented on #1419
Confining that this affects doe example our members Plugin. On each transaction results page refresh the hook fires

[2015-07-20 17:11] #1949 closed

[2015-07-21 18:20] Bloke1 opened #1952 "Authorize.net is changing URLS . Update needed for Gold Cart"
I have been informed Authorize.Net is making changes to their processing URLS. Now through June 2016) — they are creating three new URLs for transaction processing that are hosted by Akamai. This will need to be updated for Gold Cart. http://www.authorize.net/support/akamaifaqs/?utm_campaign=Akamai%20Initial%20Email%20to%20Merchants.html&utm_medium=email&utm_source=Eloqua

[2015-07-21 18:32] JustinSainton commented on #1952
@Bloke1 Great minds - https://github.com/wp-e-commerce/Gold-Cart/issues/8

[2015-07-21 18:32] #1952 closed

[2015-07-22 09:17] galbaras opened #1953 "Incorrect category display when subcategories exist (at least in grid view)"
There are many people sharing this problem and some issues claiming to have fixed it, but that's not what I see on https://pacificsprings.com.au/products/spring-water-coolers/.

Steps:

1. Created subcategories B and C under category A
2. Assigned products from A into B or C and removed assignment from A
3. Set "Show Subcategory Products in Parent Category" to "no"
4. Set "Select what product cate

[2015-07-30 14:29] borkweb opened #1954 "Theme Engine v2 globally sets posts_per_archive_page to -1"
The `theme-engine-v2/helpers/template-engine.php` file [hooks to](https://github.com/wp-e-commerce/WP-e-Commerce/blob/master/wpsc-components/theme-engine-v2/helpers/template-engine.php#L204) `pre_get_posts` and if the query _isn't_ a WP-e-Commerce one then `posts_per_archive_page` gets set to `-1`. Any `posts_per_archive_page` setting set external to WP-e-Commerce gets overridden here (which isn't

[2015-07-30 14:34] JustinSainton commented on #1954
Thanks for the detailed report, @borkweb.  Really appreciate it!

I suppose a good solution here would simply be to remove the following code:

[code]

Is that what you were thinking?